.container
    .row
        .col-6.col-lg-3
            .advantage-block.advantage-block1
                .advantage-block--image
                    include ../svgs/advantage/advantage1.svg
                .advantage-block--description
                    h4 Самый большой выбор товаров для ремонта
                .advantage-block--heading
                    h3 150 000
        .col-6.col-lg-3
            .advantage-block.advantage-block2
                .advantage-block--image
                    include ../svgs/advantage/advantage2.svg
                .advantage-block--description
                    h4 Лучшие цены на рынке Украины
                .advantage-block--heading
                    h3 - 30 %
        .col-6.col-lg-3
            .advantage-block.advantage-block3
                .advantage-block--image
                    include ../svgs/advantage/advantage3.svg
                .advantage-block--description
                    h4 Проверенны на качество производители
                .advantage-block--heading
                    h3 548
        .col-6.col-lg-3
            .advantage-block.advantage-block4
                .advantage-block--image
                    include ../svgs/advantage/advantage4.svg
                .advantage-block--description
                    h4 Актуальное наличие товара на складе
                .advantage-block--heading
                    h3 89 %