nav
    .container
        .row
            .col-lg-3.col-md-4.col-7#logo
                a(href='/' title='').link-logo
                    img(src='img/logo/logo-img.svg' title='' alt='' onerror='this.src="img/logo/logo-img.png"').link-logo--img
                    img(src='img/logo/logo-text.svg' title='' alt='' onerror='this.src="img/logo/logo-text.png"').link-logo--text

            .offset-xl-4.col-xl-5.offset-lg-3.col-lg-6.offset-md-1.col-md-7.hidden-xs#panel
                .row
                    .col-md-6#first
                        a(href='tel:+38(044)2388610' title='').link-phone-nav (044) 238-86-10
                    .col-6
                        ul.menu-user
                            li#login-here
                                a(href='cabinet1.html' title='').login.login-out
                                    include ../svgs/login2.svg
                                    span Виталий Викторович

                                a(href='signin.html' title='').login.login-in
                                    span Вход
                                    include ../svgs/login.svg

                            li
                                a(href='bucket1.html' title='')#bucket
                                    include ../svgs/bucket.svg
                                    span 13



            .col-lg-6.col-md-5#second
                ul.menu-nav
                    li.menu-nav--dropdown
                        a(href='catalog.html' title='').menu-nav--dropdown-link Плитка
                        ul.menu-nav--dropdown-menu
                            li
                                a(href='catalog.html' title='') Напольная плитка
                            li
                                a(href='catalog.html' title='') Облицовочная плитка
                            li
                                a(href='catalog.html' title='') Керамогранит
                            li
                                a(href='catalog.html' title='') Мозаика
                            li
                                a(href='catalog.html' title='') Декор
                            li
                                a(href='catalog.html' title='') Фризы
                            li
                                a(href='catalog.html' title='') Ступени
                            li
                                a(href='catalog.html' title='') Смеси и Клеи
                    li.menu-nav--dropdown
                        a(href='catalog.html' title='').menu-nav--dropdown-link Сантехника
                        ul.menu-nav--dropdown-menu
                            li
                                a(href='catalog.html' title='') Напольная плитка
                            li
                                a(href='catalog.html' title='') Облицовочная плитка
                            li
                                a(href='catalog.html' title='') Керамогранит
                            li
                                a(href='catalog.html' title='') Мозаика
                            li
                                a(href='catalog.html' title='') Декор
                            li
                                a(href='catalog.html' title='') Фризы
                            li
                                a(href='catalog.html' title='') Ступени
                            li
                                a(href='catalog.html' title='') Смеси и Клеи
                    li.menu-nav--dropdown
                        a(href='catalog.html' title='').menu-nav--dropdown-link Напольные покрытия
                        ul.menu-nav--dropdown-menu
                            li
                                a(href='catalog.html' title='') Напольная плитка
                            li
                                a(href='catalog.html' title='') Облицовочная плитка
                            li
                                a(href='catalog.html' title='') Керамогранит
                            li
                                a(href='catalog.html' title='') Мозаика
                            li
                                a(href='catalog.html' title='') Декор
                            li
                                a(href='catalog.html' title='') Фризы
                            li
                                a(href='catalog.html' title='') Ступени
                            li
                                a(href='catalog.html' title='') Смеси и Клеи
                    li.menu-nav--dropdown
                        a(href='catalog.html' title='').menu-nav--dropdown-link Теплый пол
                        ul.menu-nav--dropdown-menu
                            li
                                a(href='catalog.html' title='') Напольная плитка
                            li
                                a(href='catalog.html' title='') Облицовочная плитка
                            li
                                a(href='catalog.html' title='') Керамогранит
                            li
                                a(href='catalog.html' title='') Мозаика
                            li
                                a(href='catalog.html' title='') Декор
                            li
                                a(href='catalog.html' title='') Фризы
                            li
                                a(href='catalog.html' title='') Ступени
                            li
                                a(href='catalog.html' title='') Смеси и Клеи
            .offset-xl-1.col-xl-5.col-lg-6.col-md-7.col-5#panel-2
                .menu-panel
                    .menu-panel--container
                        .menu-panel--container-block#fourth
                            form.form-nav#third
                                input(type='text' placeholder='Поиск по названию / артикулу')
                                button(type='submit')
                                    i.fa.fa-search
                        .menu-panel--container-block
                            a(href='' title='').menu-sub#menu-trigger
                                span.menu-sub--visible Меню
                                span.menu-sub--hidden Закрыть
                                .nav-icon
                                    span
                                    span
                                    span
                                    span
                    .menu-panel--nav
                        .row#mob-nav-top
                            .col-12
                        .row#mob-nav-bottom
                            .col-md-6
                                ul.menu-panel--nav-links
                                    li
                                        a(href='about.html' title='') О компании
                                    li
                                        a(href='brands.html' title='') Бренды
                                    li
                                        a(href='warranty.html' title='') Гарантия и сервис
                                    li
                                        a(href='delivery.html' title='') Оплата и доставка
                                    li
                                        a(href='contacts.html' title='') Контакты
                            .col-md-6
                                ul.menu-panel--nav-social
                                    li
                                        a(href='' title='')
                                            i.fa.fa-facebook-square
                                            span Facebook
                                    li
                                        a(href='' title='')
                                            i.fa.fa-google-plus-square
                                            span Google +