nav
    .container
        .row
            .col-6.col-md-2
                a(href='index.html' title='').link-logo
                    img(src='img/logo/logo.png' title='' alt='')

            .col-6.nav-mobile
                .nav-icon#menu-trigger
                    span
                    span
                    span
                    span

            .col-md-10.nav-panel
                ul.menu
                    li.dropdown
                        a(href='' title='').dropdown-link Link 1
                        ul
                            li
                                a(href='#link2' title='').smooth Sublink 1
                            li
                                a(href='#link3' title='').smooth Sublink 2
                            li
                                a(href='#link4' title='').smooth Sublink 3
                    li.dropdown
                        a(href='' title='').dropdown-link Link 2
                        ul
                            li
                                a(href='#link2' title='').smooth Sublink 1
                            li
                                a(href='#link3' title='').smooth Sublink 2
                            li
                                a(href='#link4' title='').smooth Sublink 3
                    li.dropdown
                        a(href='' title='').dropdown-link Link 3
                        ul
                            li
                                a(href='#link2' title='').smooth Sublink 1
                            li
                                a(href='#link3' title='').smooth Sublink 2
                            li
                                a(href='#link4' title='').smooth Sublink 3
                    li
                        a(href='#link4' title='').smooth Link 4
                    li
                        a(href='#link5' title='').smooth Link 5
                    li.dropdown
                        a(href='' title='').dropdown-link Link 6
                        ul
                            li
                                a(href='#link2' title='').smooth Sublink 1
                            li
                                a(href='#link3' title='').smooth Sublink 2
                            li
                                a(href='#link4' title='').smooth Sublink 3
                    li
                        a(href='#link7' title='').smooth Link 7
                    li
                        a(href='#link8' title='').smooth Link 8
                    li
                        a(href='#link9' title='').smooth Link 9
                    li
                        a(href='#link10' title='').smooth Link 10