.chosen-container
  width 100%
  font-size 1em
  border-bottom 2px solid $blue

  &:after
    triangle($black, down, 4px)
    top: calc(50% - 2px);
    right: 19px;
    transitions()

  &:focus
    outline none

  .chosen-single
    height 55px
    border-radius 0
    border none
    background none
    box-shadow none
    padding: 13px 0 10px 60px;
    +mobile()
      padding-left 38px
    span
      color $black
      font-size: 1rem;
      font-weight: 500;
      line-height: 2;

.chosen-container-single
  .chosen-search
    padding 0
    input[type='text']
      border 0
      padding 11px 15px 12px 50px
      background-image none !important
      border-bottom 2px solid $blue
      &:focus
        border-color $gray-back

  .chosen-single div b
    display none

  .chosen-drop
    box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.15);
    padding-left 10px
    padding-right 10px
    border-radius 0
    border 0
    background $white
    &:before
      pseudo(block, absolute)
      top 0
      left 10px
      right 10px
      background $gray-back
      height 2px

    .chosen-results
      padding 0
      margin 0
      box-shadow none
      .active-result
        transitions()
        padding 8px 30px
        color $black
        font-size: 1rem;
        font-weight: 500;
        line-height: 2;
        border-bottom 2px solid $gray-back
        padding-left 50px
        &:last-child
          border-bottom $trans
        &:hover
          border-color $blue

      .active-result.highlighted
        background $white
        color $aqua-text



.chosen-container.chosen-with-drop
  &:after
    transform rotate(180deg)

.chosen-container.chosen-container-active
  box-shadow none
  .chosen-single
    box-shadow none
    border none
    background none


.chosen-container.chosen-container-active.chosen-with-drop
  box-shadow: 0 2px 24px 0 rgba(0, 0, 0, 0.15);

//
.form-sort
  .chosen-container
    border none

  .chosen-container .chosen-single
    background $white
    padding 2px 30px
    height: 31px;
    span
      font-size: $s12
      font-weight: 500;
      letter-spacing: 0.9px;

  .chosen-container-single .chosen-drop
    .chosen-results
      .active-result
        font-size $s12
        font-weight: 500;
        letter-spacing: 0.9px;


  .chosen-container .chosen-single, .chosen-container.chosen-container-active .chosen-single
    border none
    background $white

  .chosen-container-single .chosen-search
    display none

  .chosen-container-single .chosen-drop .chosen-results .active-result
    padding-left 20px
    padding-top 3px
    padding-bottom 3px
    background $trans


