.chosen-container
  width 100%
  font-size 1em
  &:after
    triangle($black, down, 4px)
    top: calc(50% - 2px);
    right: 19px;
    transitions()
  &:focus
    outline none
  .chosen-single
    padding 11px 15px 12px
    height 45px
    border-radius 0
    border 1px solid $black
    background none
    box-shadow none

.chosen-container-single .chosen-search
  padding 0
  input[type='text']
    border 0
    padding 11px 15px 12px
    background-image none !important

.chosen-container.chosen-with-drop
  &:after
    transform rotate(180deg)

.chosen-container.chosen-container-active
  box-shadow none
  .chosen-single
    box-shadow none
    border 1px solid $black
    background none


.chosen-container-single .chosen-drop
  border-radius 0
  border 0
  padding 0
  box-shadow none
  .chosen-results
    padding 0
    margin 0
    box-shadow none
    .active-result
      transitions()
      font-size $s12
      font-weight 500
      padding 8px 30px
      letter-spacing: 0.9px;
      color $black
    .active-result.highlighted
      background $white
      color $aqua-text


.chosen-container-single .chosen-single div b
  display none

//
.chosen-container .chosen-single
  font-size: $s12
  font-weight: 500;
  letter-spacing: 0.9px;
  background $white
  padding 2px 30px
  height: 31px;

.chosen-container .chosen-single, .chosen-container.chosen-container-active .chosen-single
  border none
  background $white
