@import '../../utilities/vars'
@import '../../utilities/mixins'

select
  -webkit-appearance none
  -moz-appearance none
  width 100%
  background $white
  border none
  border-radius 0
  display block
  padding 2px 30px
  font-size $s12
  height 36px
  transitions()
  &:focus
    outline none

.select-container
  display block
  position relative
  width 100%
  max-width 263px
  &:after
    triangle($black, down, 6px)
    top calc(50% - 3px)
    right 15px
    display none
    +mobile()
      display block