@import '../../utilities/vars'
@import '../../utilities/mixins'

select
  -webkit-appearance none
  -moz-appearance none
  width 100%
  display block
  transitions()

  color $black
  font-size: 1rem;
  font-weight: 500;
  line-height: 2;
  height 55px
  border-radius 0
  border none
  background none
  box-shadow none
  padding: 13px 0 10px 60px;
  border-bottom 2px solid $blue
  +mobile()
    padding-left 38px

  &:focus
    outline none


.select-container
  display block
  position relative
  width 100%
  &:after
    triangle($black, down, 6px)
    top calc(50% - 3px)
    right 15px
    display none
    +mobile()
      display block