@import '../../utilities/vars'
@import '../../utilities/mixins'

html
  overflow-x hidden

body
  overflow-x hidden
  font(1rem, $black, 400, normal)
  background $white

  padding-top 119px
  +mobile()
    padding-top 56px


body.open
  .menu-panel
    &:after
      opacity 1
    input
      color $white
      +placeholder()
        color $aqua-link2
    .menu-panel--nav
      opacity 1
      visibility visible
      z-index 1000
    .nav-icon
      span
        &:nth-child(1)
          top 18px
          width 0%
          left 50%
        &:nth-child(2)
          transform rotate(45deg)
        &:nth-child(3)
          transform rotate(-45deg)
        &:nth-child(4)
          top 18px
          width 0%
          left 50%
    button
      background $black-line2
      &:hover
        background #557279
        +mobile()
          background $trans
      +mobile()
        background $trans
    .menu-sub
      &--visible
        display none
      &--hidden
        display block
        +mobile()
          display none
  +mobile()
    overflow hidden !important
    nav
      height 100%
      overflow scroll !important


html.open
  +mobile()
    overflow hidden !important


+displays()
  .container
    max-width 1170px

.container-1200
  position relative
  +displays()
    max-width 1200px
  +tablet()
    max-width 990px
  +portrait()
    max-width: 750px;


.hidden-xs
  +mobile()
    display none !important

.visible-xs
  display none
  +mobile()
    display block

.hidden-md
  +portrait()
    display none


//preloader
#hellopreloader_preload
  display: block;
  position: fixed;
  z-index: 99999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $white url('../img/icon/grid.svg') center center no-repeat
  background-size: 123px;
