@import '../../utilities/vars'
@import '../../utilities/mixins'

html
  overflow-x hidden

body
  overflow-x hidden
  font(1rem, $black, 400, normal)
  background $white

  padding-top 121px
  +mobile()
    padding-top 56px


body.open
  .menu-panel
    &:after
      opacity 1
    input
      color $white
      +placeholder()
        color $aqua-link2
    .menu-panel--nav
      opacity 1
      visibility visible
      z-index 1000
    .nav-icon
      span
        &:nth-child(1)
          top 18px
          width 0%
          left 50%
        &:nth-child(2)
          transform rotate(45deg)
        &:nth-child(3)
          transform rotate(-45deg)
        &:nth-child(4)
          top 18px
          width 0%
          left 50%
    button
      background $black-line2
      +mobile()
        background $trans
    .menu-sub
      &--visible
        display none
      &--hidden
        display block
        +mobile()
          display none
  +mobile()
    overflow hidden
    nav
      height 100%
      overflow scroll
      -webkit-overflow-scrolling: touch


html.open
  +mobile()
    overflow hidden



+displays()
  .container
    max-width 1170px
  .container-1200
    max-width 1200px
    position relative


.hidden-xs
  +mobile()
    display none !important

.visible-xs
  display none
  +mobile()
    display block

.hidden-md
  +portrait()
    display none