@import '../../utilities/vars'
@import '../../utilities/mixins'

html
  overflow-x hidden

body
  overflow-x hidden
  font(1rem, $black, 400, normal)
  background $white

+displays()
  .container
    max-width 1170px
  .container-1200
    max-width 1200px
    position relative


.hidden-xs
  +mobile()
    display none !important

.visible-xs
  display none
  +mobile()
    display block

.hidden-md
  +portrait()
    display none