@import '../../utilities/vars'
@import '../../utilities/mixins'

h1
  font(2.5rem, $black, 900, normal)
  margin-bottom 2.5rem

h2
  font(2rem, $black, 800, normal)
  margin-bottom 2rem

h3
  font(1.75rem, $black, 700, normal)
  margin-bottom 1.875rem

h4
  font(1.5rem, $black, 600, normal)
  margin-bottom 1.75rem

h5
  font(1.25rem, $black, 500, normal)
  margin-bottom 1.5rem

h6
  font(1.125rem, $black, 400, normal)
  margin-bottom 1.25rem

p
  font(1rem, $black, 400, normal)
  margin-bottom 1rem

hr
  border: 0;
  height: 1px;
  background: $black
  margin 1em 0

.black
  color $black

.white
  color $white

.gray
  color $gray