//reset & normalize
//@import '../libs/reset/reset.css'
//@import '../libs/normalize-css/normalize.css'

//font-awesome
@import '../libs/font-awesome/css/font-awesome.css'

//bootstrap 4
@import '../libs/bootstrap/dist/css/bootstrap-reboot.css'
@import '../libs/bootstrap/dist/css/bootstrap-grid.css'
//@import '../libs/bootstrap/dist/css/bootstrap.css'

//jquery-ui
//@import '../libs/jquery-ui/themes/base/jquery-ui.css'

//chosen
@import '../libs/chosen/chosen.css'
//@import '../libs/chosen-image/chosenImage/chosenImage.css'

//iCheck
//@import '../libs/iCheck/skins/all.css'

//slick
@import '../libs/slick-carousel/slick/slick.css'
//@import '../libs/slick-carousel/slick/slick-theme.css'

//modaal
//@import "../libs/modaal/dist/css/modaal.css"

//remodal
//@import "../libs/remodal/dist/remodal.css"
//@import "../libs/remodal/dist/remodal-default-theme.css"

//magnific popup
//@import "../libs/magnific-popup/dist/magnific-popup.css"

//fancybox
@import "../libs/fancybox/dist/jquery.fancybox.css"

//animate
//@import "../libs/animate.css/animate.css"

//fullPage
//@import "../libs/fullpage.js/dist/jquery.fullpage.css"