.about-container
  position absolute
  bottom -157px
  z-index 40
  left 0
  right 0
  +tablet()
    bottom: -176px;
  +portrait()
    position relative
    bottom 0
  +mobile()
    position relative
    bottom 0
    background $white
    padding-top 60px
  h2
    margin-bottom 71px