.advantage
  padding-top 166px
  +mobile()
    background $white
    padding-top 69px

.advantage-block
  position relative
  z-index 10
  padding 27px 23px 8px
  &:before
    pseudo(block, absolute)
    top 0
    left 0
    right 0
  &--image
    text-align center

    height 100px
  &--description
    padding-top 14px
    h4
      line-height: 1.44;
      font-size 1.125rem
      color $white
      letter-spacing normal
  &--heading
    position relative
    bottom -51px
    h3
      text-align center
      +tablet()
        font-size: 2.25rem;

.advantage-block1
  background $gray-ad1
  &:before
    background $gray-ad2
    height: 100px
    z-index -1

.advantage-block2
  background $blue-ad1
  top 28px
  &:before
    background $blue
    height 72px
    z-index -1

.advantage-block3
  background $aqua-ad2
  top -28px
  &:before
    background $aqua-ad1
    height 128px
    z-index -1

.advantage-block4
  background $blue-ad2
  top 0
  &:before
    background $blue-ad3
    height 100px
    z-index -1

+portrait()
  .advantage-block
    margin-bottom 34px
  .advantage-block1, .advantage-block2, .advantage-block3, .advantage-block4
    background $trans
    top 0
    &:before
      height 150px
    .advantage-block--description
      padding-top 60px
      h4
        color $black
    .advantage-block--heading
      position absolute
      top 135px
      left 15px
      bottom auto

+mobile()
  .advantage-block
    margin-bottom 34px
    padding-left 0
    padding-right 0
    padding-top 0
  .advantage-block1, .advantage-block2, .advantage-block3, .advantage-block4
    background $trans
    top 0
    &:before
      height 68px
    .advantage-block--description
      padding-top 40px
      h4
        color $black
        font-size $s14
    .advantage-block--heading
      position absolute
      top 60px
      left 0
      bottom auto
      h3
        text-align left
        font-size: $s24
        letter-spacing: 1.1px;
    .advantage-block--image
      text-align right
      height auto
      padding-right 10px
      padding-top 10px
      svg
        max-height 44px
        max-width 44px