.brand-block
  margin-bottom 50px
  display block
  +mobile()
    margin-bottom 30px
  &--image
    height 66px
    align-items flex-start
    justify-content center
    display flex
    position relative
    max-width 165px
    margin-bottom 20px
    &:after
      pseudo(block, absolute)
      bottom 0
      left 0
      right 0
      height 40px
      background $white
      z-index: 2
    img
      position: absolute;
      z-index: 5;
      bottom: 21px;

      +mobile()
        max-width 107px

  &--description
    height 80px
    overflow hidden
    margin-bottom 29px
    p
      font-size: $s12
      line-height: 1.67;

    +mobile()
      display none

  &--more
    .link-more
      max-width 170px
      width 70px
      transition .6s all ease
      &--text
        font-size 1rem
      &--arrow
        width 70px
        opacity 1
    +mobile()
        display none

  &:hover
    .link-more
      width 100%
      .link-more--text
        color $blue
      .link-more--arrow

        &:before, &:after
          background $blue

.brand-counter
  font-size: 9.688rem
  letter-spacing: 2.9px;
  color $white
  position absolute
  top -54px
  left 115px
  z-index -1
  font-family $slave-font, sans-serif
  +portrait()
    font-size 8.5rem
  +mobile()
    top: -70px;
    left: 77px;

.brands-menu
  position relative

.brand-alphabet
  display flex
  flex-direction row
  margin 15px 0 100px
  min-height: 50px;
  transitions()
  +mobile()
    z-index -1
    position absolute
    visibility hidden
    opacity 0
    left 0
    right 0
    top 50px
    margin 0

  &--all
    flex 1 1 165px
    max-width 165px
    height auto
    background $aqua-text
    +mobile()
      display none
    a
      width 100%
      justify-content center
      color $white
      background $aqua-text
      display flex
      align-items center
      font-size: $s20
      font-weight: 500;
      line-height: 2.3;
      letter-spacing: 0.6px
      height 100%
      &:hover
        background $black
    a.active
      background $black
  &--letters
    background $white
    align-items center
    display flex
    flex 1 1 calc(100% - 165px)
    max-width calc(100% - 165px)
    padding 0 56px
    height auto
    +portrait()
      padding 0 40px
    +mobile()
      flex 1 1 100%
      max-width 100%
      padding 0
  +mobile()
    .brand-alphabet--ul
      li
        margin 0
        a
          width 50px
          height 50px
          display flex
          align-items center
          justify-content center

.brand-alphabet--ul
  display flex
  flex-wrap wrap
  flex-direction row

  li
    margin 0 4px
    +mobile()
      margin 0 14px
    a
      font-size: 20px;
      font-weight: 500;
      letter-spacing: 0.6px;
      color: $aqua-text
      padding 5px
      display block
      &:hover
        color $black
    a.active
      color: $black

.brand-top
  +mobile()
    padding-bottom 52px

  .brand-block
    margin-bottom 90px
    +mobile()
      margin-bottom 22px

.brand-bottom
  border-bottom 1px solid $aqua-back
  padding-bottom 55px
  .brand-block
    margin-bottom 66px
    +mobile()
      margin-bottom 22px

.brand-alphabet--menu
  display none
  justify-content space-between
  height 50px
  overflow hidden
  margin-bottom 50px
  +mobile()
    display flex
  &-button
    a
      display flex
      justify-content center
      width 50px
      height 50px
      color $white
      background $blue
      font-size 2.5rem
      line-height 1
      position relative
      transition none
      &:after, &:before
        pseudo(block, absolute)
        width 2px
        height 22px
        background $white
        top 14px
        transform rotate(45deg)
        left 24px
        opacity 0
      &:after
        transform rotate(-45deg)

  &-letters
    flex 1 1 calc(100% - 60px)
    max-width calc(100% - 60px)
    background $white
    overflow hidden

    .brand-alphabet--ul
      flex-wrap nowrap
      height 100%
      align-items center
      li
        height 100%
        display flex
        align-items center
      &-all
        margin-left 0
        margin-right 20px

        a
          transition none
          width 50px
          justify-content center
          color $white
          background $aqua-text
          display flex
          align-items center
          font-size: $s20
          font-weight: 500;
          letter-spacing: 0.6px
          height 100%

.brand-heading
  position relative
  z-index 41
  padding-top 44px
  padding-bottom: 74px
  +mobile()
    padding-top 50px
    padding-bottom 40px
  h1
    font-size: 2.75rem
    font-weight: 500;
    line-height: 1.15;
    letter-spacing: 1px;
    +mobile()
      font-size $s24

  p
    margin-bottom 0
    line-height: 2.0;
    +mobile()
      margin-top 60px

.brands-menu.active
  .brand-alphabet
    +mobile()
      z-index 50
      visibility visible
      opacity 1

  .brand-alphabet--menu
    .brand-alphabet--menu-letters
      flex: 1 1 calc(100% - 50px);
      max-width: calc(100% - 50px);
      .brand-alphabet--ul
        flex-wrap wrap
      .brand-alphabet--ul-all
        flex 1 1 100%
        max-width 100%
        margin 0
        a
          width 100%

  .brand-alphabet--menu-button a
    color $trans
    &:after, &:before
      opacity 1




