.bucket-container
  position relative
  z-index 40

.bucket-header
  +mobile()
    background $white

.bucket-heading
  position relative
  z-index 20
  padding-top 35px
  padding-bottom: 51px
  +mobile()
    padding-top 0
    padding-bottom 0
  h1
    font-size: 2.500rem
    font-weight: 500
    line-height: 1.15
    letter-spacing: 1px
    +mobile()
      font-size $s20

.bucket-item
  display flex
  border-bottom 1px solid $gray-line2
  position relative
  justify-content space-between
  +mobile()
    flex-wrap wrap
  &--left
    display flex
    flex 1 1 calc(100% - 388px)
    max-width calc(100% - 388px)
    padding 10px 0
    justify-content space-between
    +mobile()
      flex 1 1 100%
      max-width 100%
      padding-bottom 23px
      padding-top 39px
  &--right
    display flex
    align-items center
    flex 1 1 388px
    max-width 388px
    justify-content space-between
    +mobile()
      flex 1 1 100%
      max-width 100%
      flex-wrap wrap
  &--image
    padding 5px
    width 68px
    height 68px
    box-shadow: 0 2px 24px 0 rgba(0, 0, 0, 0.15);
    display flex
    padding 5px
    align-items center
    justify-content center
    overflow hidden
    flex 1 1 68px
    max-width 68px
    background $white
    +mobile()
      flex 1 1 65px
      max-width 65px
      height 65px
      width 65px
    img
      height 100%
  &--heading
    display flex
    flex-wrap wrap
    align-items flex-end
    align-self flex-end
    flex 1 1 calc(100% - 95px)
    max-width calc(100% - 95px)
    +mobile()
      flex 1 1 calc(100% - 65px)
      max-width calc(100% - 65px)
      align-items flex-start
      align-self flex-start
      padding-left 15px
    &-name
      font-size: $s16
      font-weight: 600;
      line-height: 1
      margin-bottom 16px
      flex 1 1 100%
      max-width 100%
      +mobile()
        font-size $s14
        line-height normal
    &-price
      font-size: $s14
      font-weight: 500
      line-height: .7
      color $blue
      flex 1 1 200px
      max-width 200px
      +portrait()
        margin-bottom 10px
      +mobile()
        line-height 1
        margin-bottom 12px

    &-code
      font-size: $s12
      font-weight: 500;
      letter-spacing: 0.9px;
      opacity .3
      line-height 1

  //RIGHT
  &--number
    height 100%
    display flex
    align-items center
    +mobile()
      flex 1 1 100%
      max-width 100%
      height auto
    .quantity
      max-width unset
      +mobile()
        width 100%
        justify-content space-between
      &-button
        flex: 1 1 83px;
        max-width: 83px
        padding-bottom: 12px;
        opacity 0
        background $trans
        +mobile()
          opacity 1
          background $white
          flex: 1 1 61px;
          max-width: 61px
          padding-bottom 6px
      &-input
        flex: 1 1 83px;
        max-width: 83px;
        font-size $s20
        padding-bottom: 10px;
        background $trans
        +mobile()
          background $white
          flex 1 1 calc(100% - 130px)
          max-width calc(100% - 130px)
          padding-bottom 5px
  &--type
    padding-right: 27px;
    height 100%
    +mobile()
      flex 1 1 100%
      max-width 100%
      height auto
      padding-right 0
    .type
      flex-direction column
      height 100%
      margin 0
      position relative
      padding: 15px 0;
      +portrait()
        padding-bottom 25px
        padding-top 10px
      +mobile()
        flex-direction row
        padding 0
        margin-bottom 40px
      li
        text-align left
        flex 1 1 100%
        max-width 100%
        width 100%
        height auto
        line-height 1
        background $trans
        opacity 0
        transitions()
        &:nth-child(1)
          transform translateY(21px)
        &:nth-child(3)
          transform translateY(-21px)
        +mobile()
          opacity 1
          transform none !important
          background $white
          height 50px
      .active
        opacity 1
        +mobile()
          background $blue

  &--price
    font-size: $s16
    font-weight: 600
    line-height: 1.88;
    padding 0 30px
    +mobile()
      order -1
      padding 0
      flex 1 1 100%
      max-width 100%
      padding-left 80px
      font-size $s20
      margin-bottom 27px


  &--delete
    position absolute
    right 0
    top 16px
    width 15px
    height 15px
    cursor pointer
    opacity 0
    transitions()
    &:before, &:after
      pseudo(block, absolute)
      background $aqua-ad2
      width 16px
      height 2px
      top 6px
      left 0
      +mobile()
        background $blue
    &:before
      transform rotate(45deg)
    &:after
      transform rotate(-45deg)
    +mobile()
      opacity 1
  &:hover
    .bucket-item--delete
      opacity 1
    .bucket-item--type
      .type
        li
          opacity 1
          &:nth-child(1)
            transform none
          &:nth-child(3)
            transform none
    .bucket-item--number
      .quantity
        .quantity-button
          opacity 1


.bucket-big-price
  display flex
  justify-content space-between
  align-items center
  margin: 61px 0 73px

  flex-wrap wrap

  +mobile()
    margin 45px 0 47px

  &--text-delivery
    font-size: $s18
    font-weight: 500;
    line-height: 1.67;
    letter-spacing: 0.8px
    color $blue
    margin-bottom: 9px;

  &--number-delivery
    margin-bottom: 9px;
    font-size: 18px;
    font-weight: 600
    line-height: 1.67;
    letter-spacing: 0.8px
    color $blue


  &--text
    font-size: $s22
    color $blue
    font-weight: 500;
    line-height: 1.36;
    letter-spacing: 1px;
    +mobile()
      font-size $s16
  &--number
    font-size: $s22
    font-weight: 600
    line-height: 1.36;
    letter-spacing: 1px;
    color $blue


.bucket-paragraph
  font-size: $s20
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: -.1px;
  +portrait()
    font-size $s18
  +mobile()
    margin-top 30px
    font-size $s18

.bucket-line
  max-width: 97px;
  width 100%
  height: 2px;
  background $black
  margin 17px auto

.bucket-recipient
  margin-bottom 54px
  +mobile()
    margin-bottom 5px

.bucket-success
  text-align center
  padding-bottom 97px
  +mobile()
    padding-top 50px
  img
    display inline-block
    margin-bottom 37px
    +mobile()
      margin-bottom 30px
  h2
    font-size: $s30
    font-weight: 500;
    line-height: 1.53;
    letter-spacing: 0.8px
    margin-bottom 0
    +mobile()
      text-align center
      margin-bottom 30px
  p
    font-size: $s20
    line-height: 1.6
    margin-bottom 76px
    +mobile()
      margin-bottom 60px
  .button
    margin 0 auto
    max-width 360px





