.catalog
  +mobile()
    background $gray-back
    padding-bottom 57px
    margin-bottom 0
  aside
    background $white
    h2
      font-size $s24
      text-align left
      letter-spacing: 2px
      margin-bottom: 28px;
      margin-top 24px
      +mobile()
        margin-top 0
        font-size: $s18
        letter-spacing: 1.5px
        margin-bottom 30px

.catalog-back
  +mobile()
    background $gray-back
  &:after
    pseudo(block, absolute)
    background $gray-back
    width 100vw
    height 632px
    top 0
    left -49px
    z-index 1
    +mobile()
      display none

.catalog-back.catalog-back-product
  &:after
    background $white
    top: -114px;