.catalog-back
  +mobile()
    background $gray-back
  &:after
    pseudo(block, absolute)
    background $gray-back
    width 100vw
    height: 632px;
    top 0
    left -49px
    z-index 1
    +mobile()
      display none
    +tablet()
      left: -25px;
    +portrait()
      left: -25px;
      height: 675px;

.catalog-back.catalog-back-product
  &:after
    background $white
    top: -106px;