.credit
  position relative
  &-heading
    background $white
    font-weight 500
    position relative
    line-height: 2.12;
    letter-spacing: 1.1px;
    padding 7px 18px 10px
    cursor pointer
    &:after
      triangle($black, down, 4px)
      top: 24px;
      right: 20px
      transitions()
  &-dropdown
    position absolute
    left 0
    right 0
    z-index -1
    opacity 0
    visibility hidden
    border-top 2px solid $gray-back
    background $white
    padding-top 7px
    transitions()
    +mobile()
      height 0
      position relative
    &--heading
      font-size: $s12
      line-height: 2.83;
      letter-spacing: 0.9px;
      text-align center
      margin-bottom: 1px
      +mobile()
        text-align left
        padding-left 15px
    &--price
      font-size: $s18
      text-align center
      color $blue
      font-weight: 500;
      letter-spacing: 1.5px;
      border-bottom 2px solid $gray-back
      padding-bottom 19px
      margin-bottom 7px
      +mobile()
        text-align left
        padding-left 15px

    .type
      font-size $s18
      height: 26px;
      margin-bottom: 17px
      li
        +mobile()
          color $aqua-text
      .active
        font-size $s22
        +mobile()
          background $trans
          color $black

.credit.active
  .credit-heading
    &:after
      transform rotate(180deg)
  .credit-dropdown
    z-index 1
    opacity 1
    visibility visible
    +mobile()
      height 220px