.filter-top
  position relative
  z-index 5
  +mobile()
    display none
  &--main
    list-flex(col)
    margin-bottom 42px
    li
      margin-bottom 14px
      a
        position relative
        color $black
        letter-spacing: 1px;
        display inline-block
        font-size $s14
        font-weight 400

        &:before, &:after
          pseudo(block, absolute)
          height 2px
          width 9px
          left -1px
          background $blue
          transitions()
          opacity 0
        &:before
          top 5px
          transform rotate(45deg)
        &:after
          top 11px
          transform rotate(-45deg)
        &:hover
          padding-left 18px
          color $blue
          &:before, &:after
            opacity 1
      a.active
        padding-left 18px
        color $blue
        font-weight 500
        &:before, &:after
          opacity 1

    li.filter-top--main-sale
      margin 14px 0
      a
        color $red-text
        font-size: $s16
        letter-spacing: 1.1px;
        font-weight 500
        &:before, &:after
          background $red-text

.filter-bottom
  position relative
  z-index 5
  //
  +mobile()
    display none
  //
  h3
    color $aqua-text
    font-size: $s22
    font-weight: 500
    line-height: 1.55;
    letter-spacing: 1.1px;
    margin-bottom: 30px;
    max-width 165px
  h6
    font-size: 1rem
    font-weight: 500;
    line-height: 2.12;
    letter-spacing: 1.1px;
    color $black
    margin-bottom 7px

  .filter-colors
    list-flex(row)
    flex-wrap wrap
    max-width 168px
    margin-bottom 55px
    li
      margin-bottom 10px
      margin-right 4px
      a
        width: 24px;
        height: 24px;
        background-color: #ead6ba;
        display block

.filter-accordion
  max-width 212px
  padding-bottom 18px
  &--group
    transitions()
    &-heading
      position relative
      cursor pointer
      border-bottom 2px solid $white
      padding-top: 6px;
      padding-bottom: 2px;
      padding-left 25px
      &:after, &:before
        pseudo(block, absolute)
        width 9px
        height 2px
        background $black
        top 23px
        left 0
        transitions()
      &:after
        transform rotate(90deg)

    &-panel
      display none

      padding-bottom 14px
      p
        font-size: $s14
        font-weight: 500;
        line-height: 2.43;
        letter-spacing: 1px
        margin-bottom: 2px;
      .button
        margin-top 10px
      ul
        margin-left 25px
        li
          margin-bottom 10px
          a
            opacity .4
            color $black
            font-size: $s16
            font-weight: 500;
            line-height: 2.4;
            letter-spacing: 1px;


  .filter-accordion--group.filter-accordion--group-withback
    position relative
    &:after
      pseudo(block, absolute)
      background $trans
      top 0
      left -15px
      bottom 0
      right -15px
      z-index -1
      transitions()
    .filter-accordion--group-panel
      padding-top 16px

  .filter-accordion--group.active
    .filter-accordion--group-heading:after, .filter-accordion--group-heading:before
      transform rotate(180deg)

  .filter-accordion--group.filter-accordion--group-withback.active
    margin-bottom: 50px;
    &:after
      background $gray-back



.filter-brands
  list-flex(col)
  align-items center
  max-width 160px
  li
    margin-bottom 20px
    margin-top 10px
    a
      display inline-block
      img
        max-width 98px
        max-height 34px



#filter-trigger
  display block


