.goods-block
  max-width 263px
  width 100%
  position relative
  z-index: 10
  margin-bottom 39px
  +tablet()
    max-width: 210px
  &:after
    pseudo(none,absolute)
    top 0
    left 0
    right 0
    z-index 10
    height 558px
    box-shadow: 0 2px 17px 0 rgba(0, 0, 0, 0.15);

  &--visible
    display block
    position relative
    z-index 12

    &-description
      padding: 25px 19px 7px

      h4
        font-size $s14
        line-height: 1.43;
        height 44px
        overflow hidden

    &-container
      position relative
      padding 22px
      background $white
      display flex
      justify-content center
      align-items center
      box-shadow: 0 2px 17px 0 rgba(0, 0, 0, 0.15);
      height: 263px;
      +tablet()
        height 210px
      +portrait()
        height 210px
      +mobile()
        height auto
        padding 10px
      &:before
        content: "";
        padding-top: 100%;
        float: left;

    &-image
      display flex
      align-items center
      justify-content center
      +mobile()
        height 100%
      img
        max-width 100%
        max-height 100%
        +mobile()
          max-height 110px
        +landscape()
          max-height 130px

  &--panel
    position relative
    z-index 15

    &-price
      display flex
      justify-content space-between
      align-items center

      height 100%

      position relative
      overflow hidden

      &:before, &:after
        pseudo(block, absolute)
        left 0
        right 0

        height 1px
        width 100%
        background $aqua-back

      &:before
        top 0

      &:after
        bottom 0
        opacity 0

      &--number
        padding 10px 0 12px 19px
        p
          color $blue
          font-size: $s22
          font-weight: 700
          line-height: 1.36;
          letter-spacing: 1px;
          margin-bottom 0

      &--button
        background $trans
        width: 68px;
        height: 52px
        
        display flex
        justify-content center
        align-items center

        position relative
        z-index 20

        svg
          g
            fill $aqua-text

      &--hidden
        position absolute
        top 0
        bottom 0
        left 0
        right 68px
        background $blue
        padding-left 19px
        display flex
        align-items center
        transform translateX(100%)
        z-index 1
        transitions()

        opacity 0
        p
          color $white
          font-size: $s22
          font-weight: 700
          line-height: 1.36;
          letter-spacing: 1px;
          margin-bottom 0

    &-hidden
      position absolute
      width 100%

      opacity 0
      z-index -100
      visibility hidden

      &--more
        padding: 14px 19px 19px;
        display block

      &--content
        padding-left: 20px;
        padding-top: 10px;
        &-code
          font-size $s14
          margin-bottom 0
        .line
          display block
          color $aqua-text
          margin-bottom 4px
          span
            color $black

  .link-more--arrow
    +tablet()
      max-width 55px

.available
  font-size $s18
  font-weight 500
  line-height: 1.44;
  letter-spacing: 1px
  margin-bottom 9px
  .true
    color $green-text
  .false
    color $red
    display none

//
.goods-block:hover
  z-index 20
  &:after
    display block
    +mobile()
      display none
    +portrait()
      display none
  .goods-block--visible
    background $white
    +mobile()
      background $trans
    +portrait()
      background $trans
  .goods-block--visible-container
    box-shadow none
    +mobile()
      box-shadow: 0 2px 17px 0 rgba(0, 0, 0, 0.15);
    +portrait()
      box-shadow: 0 2px 17px 0 rgba(0, 0, 0, 0.15);
  .goods-block--panel
    background $white
    +mobile()
      background $trans
    +portrait()
      background $trans
  .goods-block--panel-price:after
      opacity 1
  .goods-block--panel-hidden
    opacity 1
    z-index 1
    visibility visible
    background $white
    +mobile()
      background $trans
    +portrait()
      background $trans
  .goods-block--panel-price--button
    background $blue
    svg
      g
        fill $white
  .link-more
    width 100%
    .link-more--text
      color $blue
    .link-more--arrow
      opacity 1
      &:before, &:after
        background $blue


//
.goods-block--panel-price:hover
  .goods-block--panel-price--hidden
    transform none
    opacity 1

.goods-block.goods-block-small
  +portrait()
    max-width: 200px;
  &:after
    height 476px
    z-index 1
  .goods-block--panel-hidden--content
    display none
  .goods-block--panel
    position absolute
    width 100%

    opacity 0
    z-index -100
    visibility hidden

  .goods-block--visible-description
    padding-top 21px
    height 88px
    h4
      font-size 1.125rem
      line-height: 1.67
      height 52px
  .goods-block--panel-hidden--more
    padding: 24px 19px 23px

.goods-block.goods-block-small:hover
  &:after
    display block
    +mobile()
      display none
    +portrait()
      display none
  .goods-block--panel
    opacity 1
    z-index 10
    visibility visible

+mobile()
  .goods-block, .goods-block.goods-block-small
    margin-bottom 60px
    .goods-block--visible
      .goods-block--visible-description
        padding 14px 0
        h4
          font-size $s14
          line-height normal
          height 54px
    .goods-block--panel
      opacity 1
      z-index 10
      visibility visible
      position static
      .goods-block--panel-price
        flex-wrap wrap
        .goods-block--panel-price--number
          padding-left 0
          flex 1 1 100%
          max-width 100%
          padding-top 12px
          padding-bottom 12px
          p
            font-size $s14
        .goods-block--panel-price--button
          background $blue
          padding 11px 13px
          width 52px
          height 35px
          svg
            width 26px
            height auto
            g
              fill $white
        .goods-block--panel-price--hidden
          position static
          transform none
          opacity 1
          padding-left 11px
          max-width calc(100% - 52px)
          flex 1 1 calc(100% - 52px)
          height 35px
          p
            opacity 1
            font-size $s14
            font-weight 500
      .goods-block--panel-hidden
        display none

+portrait()
  .goods-block, .goods-block.goods-block-small
    margin-bottom 60px
    .goods-block--visible
      .goods-block--visible-description
        padding 14px 0
        h4
          font-size $s14
          line-height normal
          height 54px
    .goods-block--panel
      opacity 1
      z-index 10
      visibility visible
      position static
      .goods-block--panel-price
        flex-wrap wrap
        .goods-block--panel-price--number
          padding-left 0
          flex 1 1 100%
          max-width 100%
          padding-top 12px
          padding-bottom 12px
          p
            font-size $s14
        .goods-block--panel-price--button
          background $blue
          padding 11px 13px
          width 52px
          height 35px
          svg
            width 26px
            height auto
            g
              fill $white
        .goods-block--panel-price--hidden
          position static
          transform none
          opacity 1
          padding-left 11px
          max-width calc(100% - 52px)
          flex 1 1 calc(100% - 52px)
          height 35px
          p
            opacity 1
            font-size $s14
            font-weight 500
      .goods-block--panel-hidden
        display none


.goods-block.goods-block-discount
  &:after
    box-shadow: 0 2px 17px 0 rgba(214, 25, 25, 0.15)
  .goods-block--visible-container
    box-shadow: 0 2px 17px 0 rgba(214, 25, 25, 0.15)
  .goods-block--panel-price--number p
    color $red
  .goods-block--panel-price--hidden
    background $red
  .link-more--arrow
    background $red
  +portrait()
    .goods-block--panel .goods-block--panel-price .goods-block--panel-price--button
      background $red
  +mobile()
    .goods-block--panel .goods-block--panel-price .goods-block--panel-price--button
      background $red

  &:hover
    .goods-block--visible-container
      box-shadow none
    .goods-block--panel-price--button
      background $red
    .link-more .link-more--text
      color $red
    .link-more--arrow
      &:before, &:after
        background $red








