.goods-block

  max-width 263px
  width 100%
  position relative


  transitions()

  &--visible
    &-image
      width: 263px;
      height: 263px;
      background $white
      box-shadow: 0 2px 24px 0 rgba(0, 0, 0, 0.15);

      display flex
      justify-content center
      align-items center

      transitions()

    &-description
      padding: 22px 19px 7px
      transitions()
      height 89px

      overflow hidden

  &--hidden
    position absolute
    top 100%
    left 0
    right 0
    background $white
    z-index 400
    box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.15)

    transitions()
    opacity 0
    z-index -1
    visibility hidden

    &-price
      display flex
      justify-content space-between
      align-items center
      height 100%
      position relative
      overflow hidden

      &:before, &:after
        pseudo(block, absolute)

        left 0
        height 1px
        right 0
        width 100%
        background $aqua-back

      &:before
        top 0
      &:after
        bottom 0

      &--number
        padding-left 19px
        p
          color $blue
          font-size: $s22
          font-weight: 700
          line-height: 1.36;
          letter-spacing: 1px;
          margin-bottom 0
      &--button
        background $blue
        width: 68px;
        height: 52px
        display flex
        justify-content center
        align-items center
        position relative
        z-index 20
      &--hidden
        position absolute
        top 0
        bottom 0
        left 0
        right 68px
        background $blue
        padding-left 19px
        display flex
        align-items center
        transform translateX(100%)
        z-index 10
        transitions()
        p
          color $white
          font-size: $s22
          font-weight: 700
          line-height: 1.36;
          letter-spacing: 1px;
          margin-bottom 0
          opacity 0
          transitions()

    &-more
      padding: 24px 19px 23px;
      display block

.goods-block:hover
  box-shadow: 0 2px 24px 0 rgba(0, 0, 0, 0.15);

  .goods-block--visible-description
    background $white

  .goods-block--visible-image
    box-shadow none
  .goods-block--hidden
    opacity 1
    z-index 10
    visibility visible

  .link-more
    width 100%
    .link-more--text
      opacity 1
    .link-more--arrow
      &:before, &:after
        opacity 1

.goods-block--hidden-price:hover
  .goods-block--hidden-price--hidden
    transform none
    z-index 20
    p
      opacity 1
