.object
  margin-bottom 50px
  &-slider
    margin-bottom 28px
    .slider
      .arrow
        width 78px
        height 51px
        bottom 4px
      .arrow.left
        left: auto
        right 81px
  &-description
    h3
      line-height: 1.25;
      color $black-text
      font-size $s24
    p
      line-height: 1.86;
      font-size $s14
    table
      border-bottom 1px solid #dee8eb
      margin-bottom 22px

    .table-product.table-heading tr
      td
        padding 0 0 10px
        &:first-child
          width 40%
        &:last-child
          width 60%
