.product-heading
  padding-top 21px
  padding-bottom 25px
  position relative
  z-index 20

.product-varanty
  font-size: $s12
  letter-spacing: .8px;

.product-filter
  max-width 165px
  &--brand
    display flex
    justify-content center
    a
      img
        max-height 50px
        height 100%