.search-result
  padding: 17px 0 2px
  +mobile()
    padding-bottom 0
  h2
    text-align left
    font-size: $s24
    letter-spacing: 2.4px
    margin-bottom 0
    position relative
    z-index 5
    margin-top 5px
    +mobile()
      margin-bottom 1.5rem