.search-result
  padding: 11px 0 0
  +mobile()
    padding-bottom 0
  h2
    text-align left
    font-size: $s24
    letter-spacing: 2.4px
    margin-bottom 0
    position relative
    z-index 5
    line-height: 2.125;
    +mobile()
      margin-bottom 1.5rem