.sign-container
  position relative
  z-index 60
  padding-bottom 0

  &:after
    pseudo(block, absolute)
    background $white
    top: -137px;
    left: -84px;
    width 100vw
    height 200vh
    z-index -1
    +tablet()
      left -60px
    +portrait()
      left -20px
    +mobile()
      display none


