.sort
  position relative
  display flex
  align-items center
  justify-content flex-end
  padding-top 27px
  padding-bottom 27px
  z-index 100
  +mobile()
    justify-content space-between
    padding-top 30px
    padding-bottom 30px
  &--filter
    display none
    +mobile()
      display block

  &--heading
    font-size $s12
    margin-right: 27px;
    letter-spacing .9px
    padding-bottom: 4px;
    +mobile()
      display none
  &--form
    flex 1 1 263px
    max-width: 263px
    +mobile()
      flex 1 1 240px
      max-width: 240px
  &--code
    font-size: $s12
    font-weight: 500;
    letter-spacing: 0.9px;
    background $gray-back
    
.sort.product-code
  padding 5px 0
  +mobile()
    flex-wrap wrap
    padding 0
  .sort--code
    padding 6px 0 10px
    text-align center
    max-width 165px
    width 100%
    //+mobile()
    //  text-align left
  .sort--heading
    +mobile()
      display block