.sort
  position relative
  display flex
  align-items center
  justify-content flex-end
  padding-top 27px
  padding-bottom 27px
  z-index 100
  +mobile()
    justify-content space-between
    padding-top 30px
    padding-bottom 30px
  &--filter
    display none
    +mobile()
      display block

  &--heading
    font-size $s12
    margin-right: 27px;
    letter-spacing .9px
    +mobile()
      display none
  &--form
    flex 1 1 263px
    max-width: 263px