.special
  display block
  position relative
  z-index 2
  margin-bottom 55px
  &--header
    height: 263px
    position relative
    box-shadow: 0 2px 24px 0 rgba(0, 0, 0, 0.15);

    +mobile()
      width: calc(100% + 30px);
      left: -15px;
    &-image
      position absolute
      top 0
      left 0
      right 0
      bottom 0
      z-index 3
      display flex
      align-items center
      justify-content center
      overflow hidden
      img
        min-height 100%
    &-text
      position absolute
      z-index 4
      bottom: 28px;
      left: 19px;
      h3
        text-transform uppercase
        font-size: 2.500rem
        line-height: 0.75
        letter-spacing: 1px
        color $white
        margin-bottom 0
        +mobile()
          font-size: $s26
          line-height: 1.15;
          letter-spacing: 0.7px;
  &--footer
    display flex
    justify-content space-between
    align-items center
    padding-top: 24px
    padding-bottom: 24px
    +mobile()
      flex-wrap wrap
      padding-top 12px
      padding-bottom 12px
    &-left
      padding-left 19px
      +mobile()
        padding-left 0
        flex 1 1 100%
        max-width 100%
      h4
        font-size: $s24
        font-weight: 700;
        line-height: 1.25;
        text-align: left;
        color: $black1
        margin-bottom 0
        +mobile()
          font-size $s18
          margin-bottom 20px
    &-right
      flex 1 1 242px
      max-width 242px
      +mobile()
        flex 1 1 100%
        max-width 100%
      .link-more
        width 100%
        transform translateX(-80px)
        opacity 0

        .link-more--text
          color $blue
        .link-more--arrow
          &:before, &:after
            background $blue

  &:hover
    .link-more
        transform none
        opacity 1

