.volta
  float right
  display block
  position relative
  +mobile()
    padding 3px 0
  &--text
    font-size 0.625em
    color #bebebe
    position relative
    top -3px
    margin-right 5px
    +mobile()
      display none
  &--visible
    svg
      width 62px
      +mobile()
        width 75px
        height 17px
      g
        fill #BEBEBE
  &--hidden
    position absolute
    right 0
    top 0
    height 0
    overflow hidden
    transitions()
    svg
      width 62px
      +mobile()
        width 75px
        height 17px
      g
        fill $blue
  &:hover
    .volta--hidden
      height 100%