.warranty-container
  position relative
  z-index 40
  .bucket-line
    margin 30px auto


.warranty-heading-paragraph
  display flex
  align-items center
  img
    margin-right 32px
  p
    margin-bottom 0


.warranty-heading
  position relative
  z-index 20
  padding-top 44px
  padding-bottom: 74px
//  +mobile()
//    padding-top 0
//    padding-bottom 0
  h1
    font-size: 2.75rem
    font-weight: 500;
    line-height: 1.15;
    letter-spacing: 1px;
//    font-size: 2.500rem
//    font-weight: 500
//    line-height: 1.15
//    letter-spacing: 1px
//    +mobile()
//      font-size $s20