@import '../../utilities/vars'
@import '../../utilities/mixins'

.ui-accordion
  .ui-accordion-header
    background $aqua-back
    color $black
    cursor pointer
    padding 1rem
    transitions()
    font-size: $s18
    font-weight: 500;
    line-height: 1.11;
    letter-spacing: 1.3px;
    text-align center
    position relative
    margin-bottom 3px
    &:after
      triangle($black, down, 12px)
      left calc(50% - 12px)
      bottom -12px
      opacity 0
      transitions()
    &:focus
      outline none
    &:hover
      background $black
      color $white
  .ui-state-active
    background $black
    color $white
    &:after
      opacity 1
  .ui-accordion-content
    padding 2rem 0
    p, ul li
      font-size 1rem
      line-height 1.66

#accordion
  .accordion-button
    display none
    transitions()
    +mobile()
      display block

#accordion2
  .accordion-button
    display none
    height 51px
    background $white
    color #b3c9cf
    margin-bottom 18px
    transitions()
    text-align left
    &:hover
      background $aqua-back
      color $black
    &:before, &:after
      pseudo(block, absolute)
      width 16px
      height 2px
      top 25px
      right 10px
      left auto
      opacity 0
      border 0
      background $black
      transitions()
    &:before
      transform rotate(45deg)
    &:after
      transform rotate(-45deg)
    +mobile()
      display block
  .ui-state-active
      background $aqua-back
      color $black
      &:before, &:after
        opacity 1
  .ui-accordion-content
    padding-top 0

  .accordion-button.hidden
    opacity 0
    height 0
    padding 0
    margin 0