@import '../../utilities/vars'
@import '../../utilities/mixins'

.ui-accordion
  .ui-accordion-header
    background $gray
    color $black
    cursor pointer
    padding 1rem
    transitions()
    &:focus
      outline none
    &:hover
      background $black
      color $white
  .ui-state-active
    background $black
    color $white
  .ui-accordion-content
    padding-bottom 1rem