@import '../../utilities/vars'
@import '../../utilities/mixins'


section
  margin-bottom 207px
  +mobile()
    margin-bottom 57px

article {}

aside
  h2
    font-size $s24
    text-align left
    letter-spacing: 2px
    margin-bottom: 28px;
    margin-top 24px
    +mobile()
      margin-top 0
      font-size: $s18
      letter-spacing: 1.5px
      margin-bottom 30px

main
  background $white
  transitions()
  +mobile()
    position relative
    z-index 100

.section-back
  position relative
  +mobile()
    background $gray-back
    padding-top 47px
  &:after
    pseudo(block, absolute)
    left 0
    right 0
    background $gray-back
    top 208px
    height 643px
    z-index 1
    +mobile()
      display none


.section-brand
  margin-bottom 0
  +mobile()
    background $gray-back
    padding-top 47px
  &--back
    background $gray-back
    padding-bottom 139px

    +mobile()
      padding-bottom 0

    &-left
      background transparent
      padding-top 66px
      +mobile()
        padding-top 0

.back-gray
  background $gray-back


.border-bottom
  position relative
  padding-bottom 72px
  margin-bottom 46px
  &:after
    pseudo(block, absolute)
    left 15px
    right 15px
    bottom 0
    height 1px
    background $aqua-back




