@import '../../utilities/vars'
@import '../../utilities/mixins'

.breadcrumbs
  list-flex(row)
  margin-bottom 1rem
  +mobile()
    margin-bottom 0
  li
    position relative
    padding-right 7px
    margin-right 7px
    overflow hidden
    &:after
      pseudo(block, absolute)
      right 0
      top 7px
      height 12px
      width 1px
      background $aqua-text
      transform rotate(25deg)
    &:last-child
      &:after
        display none
    a
      display block
      font-size: $s14
      font-weight: 500;
      line-height: 1.86;
      color: $aqua-text;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      &:hover
        color $gray
    .active
      cursor default
      pointer-events: none;
      color $gray