@import '../../utilities/vars'
@import '../../utilities/mixins'

.header-slider
  position relative
  margin-bottom 225px
  +mobile()
    margin-bottom 300px

  &--container
    position absolute
    bottom: -65px
    left calc((100% + 390px + 30px) / 2)

.header-breadcrumbs
  padding-top 20px
  padding-bottom 16px
  +mobile()
    padding-top 12px
    padding-bottom 12px

.header-product
  +mobile()
    background $white