@import '../../utilities/vars'
@import '../../utilities/mixins'

.header-slider
  position relative
  margin-bottom 225px
  +portrait()
    margin-bottom 150px
  +mobile()
    margin-bottom 40px
  &--container
    position absolute
    bottom: -65px
    left calc((100% + 390px + 30px) / 2)
    +tablet()
      left: calc((100% + 230px + 30px) / 2);
    +mobile()
      position relative
      left 0
      bottom: 45px;

.header-breadcrumbs
  padding-top 20px
  padding-bottom 16px
  +mobile()
    padding-top 12px
    padding-bottom 12px

.header-breadcrumbs-gray
  +mobile()
    background #f6f6f6

.header-product
  +mobile()
    background $white