@import '../../utilities/vars'
@import '../../utilities/mixins'

.fancybox-slide > div
  width 100%
  max-width 1170px
  +tablet()
    max-width 960px
  +portrait()
    max-width 720px
  +mobile()
    margin 0

+mobile()
  .fancybox-slide > div.filter-bottom
    padding 18px 15px 82px

.fancybox-close-small
  width 22px
  height 22px
  top 21px
  right 15px
  background $trans
  &:hover
    &:before, &:after
      background $black
  &:before, &:after
    pseudo(block, absolute)
    width 29px
    height 2px
    top: 10px;
    right: -3px;
    background $black
    border-radius 0
  &:before
    transform rotate(45deg)
  &:after
    transform rotate(-45deg)

