@import '../../utilities/vars'
@import '../../utilities/mixins'

//@import "../libs/rew-sidenav/sidenav.styl"
//@import "../libs/rew-downnav/downnav.styl"

nav
  background $white
  transitions()
  padding-top 14px
  border-bottom 1px solid $aqua-back

  position fixed
  left 0
  right 0
  top 0
  z-index 9999

  //edge
  max-height 120px

  +portrait()
    padding-bottom 14px

.menu-user
  list-flex(row)
  justify-content flex-end
  align-items center
  height 100%
  li
    margin: 0 8px;
    height 100%
    text-align center
    &:empty
      display none
    a
      justify-content center
      display inline-flex
      align-items center
      height 100%
      font-size: $s14;
      font-weight: 500;
      letter-spacing: 1px;
      color $black-text
      +tablet()
        padding-left 0

    #bucket
      padding: 0 17px;
      position relative
      svg
        transitions()
      span
        position absolute
        right: 7px;
        bottom: -7px;
        background $blue
        color: $white
        width: 20px;
        height: 20px;
        border-radius 50%
        font-weight 500
        font-size $s12
        text-align center
        line-height 20px
        +mobile()
          bottom 4px
        &:empty
          display none
      &:hover
        svg
          opacity .2
      +portrait()
        padding 0 14px


  #login-here
    max-width: 128px;

.login
  &:hover
    opacity .2

.login.login-in
  margin-right 24px
  display inline-flex
  svg
    margin-left 11px


.login.login-out
  display none
  +portrait()
    padding-left 18px
  span
    white-space: nowrap;
    overflow: hidden
    text-overflow: ellipsis
    max-width 97px
  svg
    margin-right 18px
    +portrait()
      margin-right 15px



.menu-nav
  list-flex(row)
  justify-content space-between
  align-items center
  height 100%
  margin-right 12px
  margin-top 14px

  //edge
  max-height 64px
  transitions()


  +portrait()
    flex-wrap wrap
    margin-right 0
  li
    +portrait()
      flex 1 1 50%
      max-width 50%

    a
      letter-spacing: 1px;
      font-weight 500
      font-size $s14
      color $black
      display: flex;
      align-items: center;
      height 100%
      padding-bottom 9px
      +portrait()
        font-size $s12
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        padding-right 5px
        display block
      &:hover
        opacity .5
  &--dropdown
    position relative
    height: 100%;
    display: flex;
    align-items: center
    +portrait()
      height auto
    &-menu
      position absolute
      background $aqua-back
      z-index -1
      width: 230px
      left 0
      top 64px
      height calc(100vh - 85px)
      opacity 0
      visibility hidden
      transition .2s all linear
      +portrait()
        display none
      +mobile()
        display none
      &:before
        triangle($aqua-back, up, 12px)
        top -10px
        left 10px
      li
        a
          padding 15px
          display block
          color $aqua-text2
          &:hover
            background $aqua-link

.menu-nav--dropdown:hover .menu-nav--dropdown-menu
  opacity 1
  visibility visible
  z-index 1000


.menu-panel
  position relative
  margin-top: 14px;
  margin-bottom 10px
  transitions()
  +mobile()
    margin-bottom 0
  &:after
    pseudo(block, absolute)
    top 0
    right 0
    bottom 0
    background $black
    opacity 0
    transitions()
    width 522px
    z-index 1
    +tablet()
      width: 475px;
    +portrait()
      width 435px

  &--container
    position relative
    z-index 2
    display flex
    transitions()
    &-block
      &:first-child
        flex 1 1 64%
        max-width 64%
      &:last-child
        flex 1 1 36%
        max-width 36%
  &--nav
    position absolute
    background $black
    width: 522px;
    right: 0;
    padding-left 14%
    padding-top 76px
    padding-bottom 96px
    border-top 1px solid $black-line2
    transitions()

    opacity 0
    visibility hidden
    z-index -1

    +tablet()
      width: 475px;
      padding-left: 7%;
    +portrait()
      width 435px


    &:before, &:after
      pseudo(block, absolute)
      width 20px
      height 1px
      background $black
      top -1px
    &:before
      left 0
    &:after
      right 0
    &-links
      list-flex(col)
      li
        margin-bottom $s29
        a
          color $white
          font-size: $s18;
          font-weight: 500;
          display inline-block
          &:hover
            color $blue
    &-social
      list-flex(col)
      padding-left 5px
      li
        margin-bottom 26px
        a
          font-size: $s18
          font-weight: 500;
          color $aqua-link2
          display inline-block
          &:hover
            color $blue
          .fa
            font-size 21px
            position relative
            top 3px
            margin-right 25px

.menu-sub
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $white
  font-weight: 500;
  font-size: .875rem;
  background $black
  padding 0 15px 0 25px
  &--hidden
    display none
  &--visible
    display block
  &:hover
    color $white



.nav-icon
  width 36px
  height 22px
  position relative
  margin 16px 0
  cursor pointer
  transitions()
  transform rotate(0deg)
  float right
  span
    display block
    position absolute
    height 2px
    width 100%
    background $white
    border-radius 2px
    opacity 1
    left 0
    transform rotate(0deg)
    transitions()
    &:nth-child(1)
      top 0px
    &:nth-child(2), &:nth-child(3)
      top 10px
    &:nth-child(4)
      top 20px



//MOBILE NAV
+mobile()
  nav
    max-height unset
    padding-top 0
    .menu-nav
      max-height unset
    .container
      max-width 100%
    .link-logo
      max-width 130px
      max-height unset
      padding: 17px 0;
    .link-logo--text
      max-width 101px
    .link-logo--img
      width 18px
      height 18px
      margin-right: 11px;
    #bucket
      svg
        width 24px
        height 24px

    .menu-panel
      margin-top 0
      max-height unset
      .menu-sub
        padding 1px 0px
        width 54px
        height 56px
        float right
        &--hidden, &--visible
          display none
      &:after
        display none

    #fourth
      padding-right 0
    .menu-panel--container
      display block
    .menu-panel--container-block:last-child
      max-width 100%
    .nav-icon
      width 24px
      margin-left auto
      margin-right auto
      span
        height 3px
    .menu-panel--nav
      width 100vw
      padding 0
      border-top 0
      top: 56px;
    .menu-panel--container-block:empty
      display none
    .form-nav button
      width 54px
      height 56px
      background $trans
    .form-nav
      border-bottom 1px solid $black-line2
      input
        width: calc(100% - 54px)
        padding 0 15px
    .menu-panel--nav:before, .menu-panel--nav:after
      display none

    .menu-nav
      flex-wrap wrap
      flex-direction column
      justify-content flex-start
      align-items flex-start
      margin 0
      padding 25px 0 9px
      li
        height auto
        a
          color $white
          font-size 1.125rem

    .menu-panel--nav-links
      padding 35px 0 0
      li
        a
          color $gray-text

    .menu-panel--nav-social
      padding-top 0
      flex-direction row

    .menu-panel--nav-social li a
      .fa
        font-size 2rem
      span
        display none

    .link-phone-nav
      display block
      text-align center
      margin 20px 0 30px

    .menu-nav--dropdown-link
      height auto
      line-height normal
      padding-bottom 0
      transitions()

    .menu-nav--dropdown
      margin-bottom: 1.813rem;

    #mob-nav-bottom
      background $black-line2
      padding-bottom 71px
      position relative
      max-width: 100vw;
      margin: 0;

    #mob-nav-top
      max-width: 100vw;
      margin: 0;
      .col-12
        padding 0

    .login
      position absolute
      right 15px
      top 35px
      align-items center
      color $white
      font-size 1.125rem
      margin-right 0 !important
      svg
        order -1
        width 23px
        height 29px
        margin-right 10px
        g
          fill $white

    .link-call
      position static
      max-width 100%
      display flex
      align-items center
      justify-content center
      font-size 1.125rem
      span
        display inline
      .fa
        font-size 32px
        margin-right 20px



    #panel-2
      padding-right 0





.nav-panel--mobile
  margin-bottom 45px
  display block
  img
    margin-bottom 15px
    width 100%
  h4
    line-height normal

#first
  +portrait()
    padding-right:0

nav.scroll
  padding-top 9px
  max-height 101px
  .menu-nav li a
      padding-bottom 4px
      +portrait()
        padding-bottom 0
  .menu-panel
    margin-top: 9px;
    margin-bottom 0
  .menu-nav--dropdown-menu
    top 50px
  +portrait()
    padding-top 5px
    padding-bottom 0
    .menu-nav
      margin-top 5px

  //edge
  .menu-nav
    max-height 49px
  .menu-nav--dropdown-menu li a
    padding 15px
