@import '../../utilities/vars'
@import '../../utilities/mixins'

.pagination
  list-flex(row)
  justify-content space-between
  margin 0 auto
  max-width 291px
  li
    a
      display block
      color $aqua-text
      font-size: $s18
      font-weight: 500;
      line-height: 1.44;
      &:hover
        color $blue
    .active
      color $blue
      font-weight 700
      cursor default
      pointer-events: none;
  .pagination-arrow
    transitions()
    svg
      g
        fill $blue
        transitions()
    &:hover
      svg
        g
          fill $black
  .pagination-arrow.left
    margin-right 25px
    &:hover
      transform translateX(-10px)
  .pagination-arrow.right
    margin-left 25px
    &:hover
      transform translateX(10px)