@import '../../utilities/vars'
@import '../../utilities/mixins'

.slick-loading .slick-list
  background: #fff url('../img/slick/ajax-loader.gif') center center no-repeat;

@font-face
  font-family: 'slick';
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/slick/slick.eot');
  src: url('../fonts/slick/slick.eot?#iefix') format('embedded-opentype'), url('../fonts/slick/slick.woff') format('woff'), url('../fonts/slick/slick.ttf') format('truetype'), url('../fonts/slick/slick.svg#slick') format('svg');




.slider
  position relative
  overflow hidden
  margin-bottom 1rem
  .arrow
    position absolute
    text-align center
    z-index 100
    top 41%
    cursor pointer
    max-width 130px
    height 60px
    width 100%
    background $black
    color $white
    top auto
    bottom 0px
    +mobile()
      max-width 104px
      height 50px
    .fa
      font-size 3.5rem
      +mobile()
        font-size: 3rem;

  .arrow.left
    left 0
  .arrow.right
    right 0

  .slide
    display flex
    justify-content center
    align-items center
    height 100%
    overflow hidden
    &:focus
      outline none


  .slider-counter
    position absolute
    z-index 100
    right 0
    bottom 0
    font-size 3em


  .slick-dots
    bottom 0
    left 0
    right 0
    position absolute
    display flex
    flex-direction row
    justify-content center
    li
      margin 5px
      button
        padding 0
        width 15px
        height 15px
        border-radius 50%
        background $gray
        color $trans
        &:hover
          background $black
          opacity .6
    .slick-active
      button
        background $black

.slider-main
  padding-bottom 26px
  +mobile()
    padding-bottom 0
    .arrow
      bottom 51px
  .arrow.left
    left calc((100% - 1170px + 30px) / 2)
    +tablet()
      left calc((100% - 960px + 30px) / 2)
    +portrait()
      left calc((100% - 720px + 30px) / 2)
    +mobile()
      left 15px
  .arrow.right
    left calc((100% - 1170px + 266px + 30px) / 2)
    +tablet()
      left calc((100% - 960px + 266px + 30px) / 2)
    +portrait()
      left calc((100% - 720px + 266px + 30px) / 2)
    +mobile()
      left calc(15px + 107px)

  .slide
    position relative
    height 556px
    +mobile()
      height 448px
    &-text
      padding-top 63px
    &-img
      position absolute
      top 0
      left 0
      bottom 0
      right 0
      display flex
      align-items center
      justify-content center
      z-index 1
      img
        min-width 100%
        +tablet()
          min-width unset
        +portrait()
          min-width unset
        +mobile()
          min-width unset

.slider-four
  overflow visible
  padding-bottom 125px
  +mobile()
    margin-bottom 50px
  .slick-list
    overflow visible
    z-index 200
    position relative
  .goods-block.goods-block-small
    margin: 15px;
    +mobile()
      max-width calc(100% - 30px)
  .arrow
    bottom 16px
    z-index 3
  .arrow.left
    left auto
    right 148px
    +mobile()
      right calc(15px + 104px + 3px)
  .arrow.right
    left auto
    right 15px

.slider-container
  position relative
  overflow hidden
  +mobile()
    margin: 0 -15px;

.slider-four + .slider-counter
  position absolute
  font-size: 3.750rem
  font-weight: 700;
  line-height: 0.5;
  letter-spacing: 2.7px;
  color: $aqua-back;
  right 300px
  bottom 48px
  z-index 100
  +mobile()
    line-height: 0.83;
    letter-spacing: 1.6px;
    font-size 2.250rem
    right calc(15px + 208px + 3px + 11px)
    bottom 75px

