@import '../../utilities/vars'
@import '../../utilities/mixins'

.ui-tabs
  .ui-tabs-nav
    display flex
    flex-direction row
    justify-content space-between
    margin-bottom 60px
    li
      max-width 168px
      width 100%
      +tablet()
        max-width: 135px;
      +portrait()
        max-width: 135px;
      a
        padding 0
        display flex
        align-items center
        justify-content center
        color $black
        height: 60px;
        font-weight: 500;
        line-height: 1.25;
        position relative
        background $aqua-back
        text-align center
        &:after
          triangle($black, down, 12px)
          left calc(50% - 12px)
          bottom -11px
          opacity 0
        &:hover
          background $black
          color $white
        +tablet()
          padding 0 5px
        +portrait()
          padding 0 5px
    .ui-tabs-active.ui-state-active
      a
        background $black
        color $white
        &:after
          opacity 1

  .ui-tabs-panel
    p, ul li
      line-height 2

+mobile()
  .tabs-nav
    display none

.tabs-bucket.ui-tabs
  .ui-tabs-nav
    margin-bottom 39px
    li
      max-width unset
      flex 1 1 auto
      a
        font-size: $s18
        letter-spacing: 0.6px;
        text-align: center;
        color: $aqua-text
        background $trans
        padding-left 5px
        padding-right 5px
        height 50px
        &:after
          triangle($aqua-back, down, 10px)
          bottom -9px
          left calc(50% - 10px)
        &:hover
          background $aqua-back
          color $black
    .ui-tabs-active.ui-state-active
      a
        background $aqua-back
        color $black