/* Comfortaa */

/* normal */

/* 100 */

/* 200 */

/* 300 */
@font-face {
    font-family: 'Comfortaa';
    src: url('../fonts/Comfortaa/Comfortaa-Light.eot');
    src: url('../fonts/Comfortaa/Comfortaa-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Comfortaa/Comfortaa-Light.woff') format('woff'),
    url('../fonts/Comfortaa/Comfortaa-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
/* 400 */
@font-face {
    font-family: 'Comfortaa';
    src: url('../fonts/Comfortaa/Comfortaa-Regular.eot');
    src: url('../fonts/Comfortaa/Comfortaa-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Comfortaa/Comfortaa-Regular.woff') format('woff'),
    url('../fonts/Comfortaa/Comfortaa-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
/* 500 */

/* 600 */

/* 700 */
@font-face {
    font-family: 'Comfortaa';
    src: url('../fonts/Comfortaa/Comfortaa-Bold.eot');
    src: url('../fonts/Comfortaa/Comfortaa-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Comfortaa/Comfortaa-Bold.woff') format('woff'),
    url('../fonts/Comfortaa/Comfortaa-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
/* 800 */

/* 900 */

/* italic */

/* 100 */

/* 200 */

/* 300 */

/* 400 */

/* 500 */

/* 600 */

/* 700 */

/* 800 */

/* 900 */




