/* Futura */

/* normal */

/* 100 */

/* 200 */

/* 300 */
@font-face {
    font-family: 'Futura PT';
    src: url('../fonts/FuturaPT/FuturaPT-Light.eot');
    src: url('../fonts/FuturaPT/FuturaPT-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/FuturaPT/FuturaPT-Light.woff') format('woff'),
    url('../fonts/FuturaPT/FuturaPT-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
/* 400 */
@font-face {
    font-family: 'Futura PT';
    src: url('../fonts/FuturaPT/FuturaPT-Book.eot');
    src: url('../fonts/FuturaPT/FuturaPT-Book.eot?#iefix') format('embedded-opentype'),
    url('../fonts/FuturaPT/FuturaPT-Book.woff') format('woff'),
    url('../fonts/FuturaPT/FuturaPT-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
/* 500 */
@font-face {
    font-family: 'Futura PT';
    src: url('../fonts/FuturaPT/FuturaPT-Medium.eot');
    src: url('../fonts/FuturaPT/FuturaPT-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/FuturaPT/FuturaPT-Medium.woff') format('woff'),
    url('../fonts/FuturaPT/FuturaPT-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
/* 600 */
@font-face {
    font-family: 'Futura PT';
    src: url('../fonts/FuturaPT/FuturaPT-Demi.eot');
    src: url('../fonts/FuturaPT/FuturaPT-Demi.eot?#iefix') format('embedded-opentype'),
    url('../fonts/FuturaPT/FuturaPT-Demi.woff') format('woff'),
    url('../fonts/FuturaPT/FuturaPT-Demi.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
/* 700 */
@font-face {
    font-family: 'Futura PT';
    src: url('../fonts/FuturaPT/FuturaPT-Bold.eot');
    src: url('../fonts/FuturaPT/FuturaPT-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/FuturaPT/FuturaPT-Bold.woff') format('woff'),
    url('../fonts/FuturaPT/FuturaPT-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
/* 800 */
@font-face {
    font-family: 'Futura PT';
    src: url('../fonts/FuturaPT/FuturaPT-ExtraBold.eot');
    src: url('../fonts/FuturaPT/FuturaPT-ExtraBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/FuturaPT/FuturaPT-ExtraBold.woff') format('woff'),
    url('../fonts/FuturaPT/FuturaPT-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}
/* 900 */
@font-face {
    font-family: 'Futura PT';
    src: url('../fonts/FuturaPT/FuturaPT-Heavy.eot');
    src: url('../fonts/FuturaPT/FuturaPT-Heavy.eot?#iefix') format('embedded-opentype'),
    url('../fonts/FuturaPT/FuturaPT-Heavy.woff') format('woff'),
    url('../fonts/FuturaPT/FuturaPT-Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}
/* italic */

/* 100 */

/* 200 */

/* 300 */
@font-face {
    font-family: 'Futura PT';
    src: url('../fonts/FuturaPT/FuturaPT-LightObl.eot');
    src: url('../fonts/FuturaPT/FuturaPT-LightObl.eot?#iefix') format('embedded-opentype'),
    url('../fonts/FuturaPT/FuturaPT-LightObl.woff') format('woff'),
    url('../fonts/FuturaPT/FuturaPT-LightObl.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}
/* 400 */
@font-face {
    font-family: 'Futura PT';
    src: url('../fonts/FuturaPT/FuturaPT-BookObl.eot');
    src: url('../fonts/FuturaPT/FuturaPT-BookObl.eot?#iefix') format('embedded-opentype'),
    url('../fonts/FuturaPT/FuturaPT-BookObl.woff') format('woff'),
    url('../fonts/FuturaPT/FuturaPT-BookObl.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}
/* 500 */
@font-face {
    font-family: 'Futura PT';
    src: url('../fonts/FuturaPT/FuturaPT-MediumObl.eot');
    src: url('../fonts/FuturaPT/FuturaPT-MediumObl.eot?#iefix') format('embedded-opentype'),
    url('../fonts/FuturaPT/FuturaPT-MediumObl.woff') format('woff'),
    url('../fonts/FuturaPT/FuturaPT-MediumObl.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}
/* 600 */
@font-face {
    font-family: 'Futura PT';
    src: url('../fonts/FuturaPT/FuturaPT-DemiObl.eot');
    src: url('../fonts/FuturaPT/FuturaPT-DemiObl.eot?#iefix') format('embedded-opentype'),
    url('../fonts/FuturaPT/FuturaPT-DemiObl.woff') format('woff'),
    url('../fonts/FuturaPT/FuturaPT-DemiObl.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}
/* 700 */
@font-face {
    font-family: 'Futura PT';
    src: url('../fonts/FuturaPT/FuturaPT-BoldObl.eot');
    src: url('../fonts/FuturaPT/FuturaPT-BoldObl.eot?#iefix') format('embedded-opentype'),
    url('../fonts/FuturaPT/FuturaPT-BoldObl.woff') format('woff'),
    url('../fonts/FuturaPT/FuturaPT-BoldObl.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}
/* 800 */
@font-face {
    font-family: 'Futura PT Extra';
    src: url('../fonts/FuturaPT/FuturaPT-ExtraBoldObl.eot');
    src: url('../fonts/FuturaPT/FuturaPT-ExtraBoldObl.eot?#iefix') format('embedded-opentype'),
    url('../fonts/FuturaPT/FuturaPT-ExtraBoldObl.woff') format('woff'),
    url('../fonts/FuturaPT/FuturaPT-ExtraBoldObl.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}
/* 900 */
@font-face {
    font-family: 'Futura PT';
    src: url('../fonts/FuturaPT/FuturaPT-HeavyObl.eot');
    src: url('../fonts/FuturaPT/FuturaPT-HeavyObl.eot?#iefix') format('embedded-opentype'),
    url('../fonts/FuturaPT/FuturaPT-HeavyObl.woff') format('woff'),
    url('../fonts/FuturaPT/FuturaPT-HeavyObl.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}















