/* Open Sans */

/* normal */

/* 100 */

/* 200 */

/* 300 */
@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/Open_Sans/OpenSans-Light.eot');
    src: url('../fonts/Open_Sans/OpenSans-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Open_Sans/OpenSans-Light.woff') format('woff'),
    url('../fonts/Open_Sans/OpenSans-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
/* 400 */
@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/Open_Sans/OpenSans.eot');
    src: url('../fonts/Open_Sans/OpenSans.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Open_Sans/OpenSans.woff') format('woff'),
    url('../fonts/Open_Sans/OpenSans.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
/* 500 */

/* 600 */
@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/Open_Sans/OpenSans-Semibold.eot');
    src: url('../fonts/Open_Sans/OpenSans-Semibold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Open_Sans/OpenSans-Semibold.woff') format('woff'),
    url('../fonts/Open_Sans/OpenSans-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
/* 700 */
@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/Open_Sans/OpenSans-Bold.eot');
    src: url('../fonts/Open_Sans/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Open_Sans/OpenSans-Bold.woff') format('woff'),
    url('../fonts/Open_Sans/OpenSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
/* 800 */
@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/Open_Sans/OpenSans-Extrabold.eot');
    src: url('../fonts/Open_Sans/OpenSans-Extrabold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Open_Sans/OpenSans-Extrabold.woff') format('woff'),
    url('../fonts/Open_Sans/OpenSans-Extrabold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}
/* 900 */

/* italic */

/* 100 */

/* 200 */

/* 300 */
@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/Open_Sans/OpenSansLight-Italic.eot');
    src: url('../fonts/Open_Sans/OpenSansLight-Italic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Open_Sans/OpenSansLight-Italic.woff') format('woff'),
    url('../fonts/Open_Sans/OpenSansLight-Italic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}
/* 400 */
@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/Open_Sans/OpenSans-Italic.eot');
    src: url('../fonts/Open_Sans/OpenSans-Italic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Open_Sans/OpenSans-Italic.woff') format('woff'),
    url('../fonts/Open_Sans/OpenSans-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}
/* 500 */

/* 600 */
@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/Open_Sans/OpenSans-SemiboldItalic.eot');
    src: url('../fonts/Open_Sans/OpenSans-SemiboldItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Open_Sans/OpenSans-SemiboldItalic.woff') format('woff'),
    url('../fonts/Open_Sans/OpenSans-SemiboldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}
/* 700 */
@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/Open_Sans/OpenSans-BoldItalic.eot');
    src: url('../fonts/Open_Sans/OpenSans-BoldItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Open_Sans/OpenSans-BoldItalic.woff') format('woff'),
    url('../fonts/Open_Sans/OpenSans-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}
/* 800 */
@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/Open_Sans/OpenSans-ExtraboldItalic.eot');
    src: url('../fonts/Open_Sans/OpenSans-ExtraboldItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Open_Sans/OpenSans-ExtraboldItalic.woff') format('woff'),
    url('../fonts/Open_Sans/OpenSans-ExtraboldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}
/* 900 */