/* Pattaya */

/* normal */

/* 100 */

/* 200 */

/* 300 */

/* 400 */
@font-face {
    font-family: 'Pattaya';
    src: url('../fonts/Pattaya/Pattaya-Regular.eot');
    src: url('../fonts/Pattaya/Pattaya-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Pattaya/Pattaya-Regular.woff') format('woff'),
    url('../fonts/Pattaya/Pattaya-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
/* 500 */

/* 600 */

/* 700 */

/* 800 */

/* 900 */

/* italic */

/* 100 */

/* 200 */

/* 300 */

/* 400 */

/* 500 */

/* 600 */

/* 700 */

/* 800 */

/* 900 */