mixin link(href, className, name, target)
    a(href= href, class= className, title='', target= target)= name

mixin link2(href, target)
    a(href= href, title='')= name

mixin img2(src, className, error)
    img(src= src, class= className, title='', alt='', onerror=error)

mixin img(src)
    img(src= src, title='', alt='')

mixin input(type, placeholder)
    input(type= type, placeholder= placeholder)

mixin behance
     i.fa.fa-behance 

mixin beahnce-sq
     i.fa.fa-behance-square 

mixin dribble
     i.fa.fa-dribbble 

mixin instagram
     i.fa.fa-instagram 

mixin linkedin
     i.fa.fa-linkedin-square 

mixin skype
     i.fa.fa-skype 

mixin vk
     i.fa.fa-vk 

mixin fb
     i.fa.fa-facebook 

mixin fb-sq
     i.fa.fa-facebook-square 

mixin fb-off
     i.fa.fa-facebook-official 

mixin twitter
     i.fa.fa-twitter 

mixin twitter-sq
     i.fa.fa-twitter-square 

mixin youtube
     i.fa.fa-youtube 

mixin youtube-sq
     i.fa.fa-youtube-square 

mixin youtube-play
     i.fa.fa-youtube-play 

mixin angle-up
    i.fa.fa-angle-up

mixin angle-down
    i.fa.fa-angle-down

mixin angle-left
    i.fa.fa-angle-left

mixin angle-right
    i.fa.fa-angle-right