include ../utilities/_mixins.pug

doctype html

html

    include ../partials/_head.pug

    body#index
        include ../partials/_navigation.pug

        main
            include ../partials/_header.pug

            block content

            include ../partials/_footer.pug