include ../utilities/_mixins.pug

doctype html

html

    include ../partials/_head.pug

    body
        include ../partials/_navigation.pug

        main

            block content

            include ../partials/_footer-noui.pug