//- layouts/layout.pug
extend layouts/_layout.pug

block title
    | Регистрация

block content

    header.header-breadcrumbs.header-product
        .container
            .row
                .col-12
                    ul.breadcrumbs
                        li
                            a(href='./' title='') Главная
                        li
                            a(href='404.html' title='') Ошибка 404

    section.section-404
        .bucket-header
            .container
                .row.row-heading.sign-heading
                    .col-12.order-md-1.order-2
                        h1 Страница не найдена
                    .col-md-5.col-xl-4.order-md-2.order-3
                        article.article-signup
                            p Страница не существует или недоступна. Перейдите на главную, чтоб продолжить пользование сайтом.
                            hr
                            a(href='#' title='').button.button-blue.button-big Перейти на главную
                    .col-md-7.col-xl-8.sign-container.container-404.order-md-3.order-1
                        img(src='img/illus/404.png').img-404
