//- layouts/layout.pug
extend layouts/_layout.pug

block title
    | О компании

block content

    header.header-breadcrumbs.back-gray
        .container
            .row
                .col-12
                    ul.breadcrumbs
                        li
                            a(href='' title='') Главная
                        li
                            a(href='' title='') Бренды

    section.section-about.section-brand
        .contacts-header
            .container
                .row.warranty-heading
                    .col-md-6
                        h1 Бренды
                        span.brand-counter 528
                    .col-md-5
                        p Мы работаем только с проверенными производителями, благодаря этому имеем самый большой выбор качетвенных товаров для ремонта.
        .container
            .row
                .col-12
                    .brands-menu
                        .brand-alphabet--menu
                            .brand-alphabet--menu-letters
                                ul.brand-alphabet--ul
                                    li.brand-alphabet--ul-all
                                        a(href='') Все
                                    li
                                        a(href='') 1
                                    li
                                        a(href='') A
                                    li
                                        a(href='') B
                                    li
                                        a(href='') C
                                    li
                                        a(href='') D
                                    li
                                        a(href='') E
                                    li
                                        a(href='') F
                                    li
                                        a(href='') G
                                    li
                                        a(href='') H
                                    li
                                        a(href='') I
                                    li
                                        a(href='') J
                                    li
                                        a(href='') K
                                    li
                                        a(href='') L
                                    li
                                        a(href='') M
                                    li
                                        a(href='') N
                                    li
                                        a(href='') O
                                    li
                                        a(href='') P
                                    li
                                        a(href='') Q
                                    li
                                        a(href='') R
                                    li
                                        a(href='') S
                                    li
                                        a(href='') T
                                    li
                                        a(href='') U
                                    li
                                        a(href='') V
                                    li
                                        a(href='') W
                                    li
                                        a(href='') X
                                    li
                                        a(href='') Y
                                    li
                                        a(href='') Z


                            .brand-alphabet--menu-button
                                a(href='')#brand-trigger
                                    | ...


                        .brand-alphabet
                            .brand-alphabet--all
                                a(href='') Все
                            .brand-alphabet--letters
                                ul.brand-alphabet--ul
                                    li
                                        a(href='') 1
                                    li
                                        a(href='') A
                                    li
                                        a(href='') B
                                    li
                                        a(href='') C
                                    li
                                        a(href='') D
                                    li
                                        a(href='') E
                                    li
                                        a(href='') F
                                    li
                                        a(href='') G
                                    li
                                        a(href='') H
                                    li
                                        a(href='') I
                                    li
                                        a(href='') J
                                    li
                                        a(href='') K
                                    li
                                        a(href='') L
                                    li
                                        a(href='') M
                                    li
                                        a(href='') N
                                    li
                                        a(href='') O
                                    li
                                        a(href='') P
                                    li
                                        a(href='') Q
                                    li
                                        a(href='') R
                                    li
                                        a(href='') S
                                    li
                                        a(href='') T
                                    li
                                        a(href='') U
                                    li
                                        a(href='') V
                                    li
                                        a(href='') W
                                    li
                                        a(href='') X
                                    li
                                        a(href='') Y
                                    li
                                        a(href='') Z


    section.section-brand2
        .container
            .row.brand-bottom
                .col-lg-3.col-md-4.col-6
                    a(href='' title='').brand-block
                        .brand-block--image
                            img(src='img/brand/brand1.png' title='')
                        .brand-block--more
                            span.link-more
                                span.link-more--text Товары
                                span.link-more--arrow
                .col-lg-3.col-md-4.col-6
                    a(href='' title='').brand-block
                        .brand-block--image
                            img(src='img/brand/brand2.png' title='')
                        .brand-block--more
                            span.link-more
                                span.link-more--text Товары
                                span.link-more--arrow
                .col-lg-3.col-md-4.col-6
                    a(href='' title='').brand-block
                        .brand-block--image
                            img(src='img/brand/brand3.png' title='')
                        .brand-block--more
                            span.link-more
                                span.link-more--text Товары
                                span.link-more--arrow
                .col-lg-3.col-md-4.col-6
                    a(href='' title='').brand-block
                        .brand-block--image
                            img(src='img/brand/brand4.png' title='')
                        .brand-block--more
                            span.link-more
                                span.link-more--text Товары
                                span.link-more--arrow
                .col-lg-3.col-md-4.col-6
                    a(href='' title='').brand-block
                        .brand-block--image
                            img(src='img/brand/brand5.png' title='')
                        .brand-block--more
                            span.link-more
                                span.link-more--text Товары
                                span.link-more--arrow
                .col-lg-3.col-md-4.col-6
                    a(href='' title='').brand-block
                        .brand-block--image
                            img(src='img/brand/brand6.png' title='')
                        .brand-block--more
                            span.link-more
                                span.link-more--text Товары
                                span.link-more--arrow
                .col-lg-3.col-md-4.col-6
                    a(href='' title='').brand-block
                        .brand-block--image
                            img(src='img/brand/brand5.png' title='')
                        .brand-block--more
                            span.link-more
                                span.link-more--text Товары
                                span.link-more--arrow
                .col-lg-3.col-md-4.col-6
                    a(href='' title='').brand-block
                        .brand-block--image
                            img(src='img/brand/brand6.png' title='')
                        .brand-block--more
                            span.link-more
                                span.link-more--text Товары
                                span.link-more--arrow

                .col-lg-3.col-md-4.col-6
                    a(href='' title='').brand-block
                        .brand-block--image
                            img(src='img/brand/brand1.png' title='')
                        .brand-block--more
                            span.link-more
                                span.link-more--text Товары
                                span.link-more--arrow
                .col-lg-3.col-md-4.col-6
                    a(href='' title='').brand-block
                        .brand-block--image
                            img(src='img/brand/brand2.png' title='')
                        .brand-block--more
                            span.link-more
                                span.link-more--text Товары
                                span.link-more--arrow
                .col-lg-3.col-md-4.col-6
                    a(href='' title='').brand-block
                        .brand-block--image
                            img(src='img/brand/brand3.png' title='')
                        .brand-block--more
                            span.link-more
                                span.link-more--text Товары
                                span.link-more--arrow
                .col-lg-3.col-md-4.col-6
                    a(href='' title='').brand-block
                        .brand-block--image
                            img(src='img/brand/brand4.png' title='')
                        .brand-block--more
                            span.link-more
                                span.link-more--text Товары
                                span.link-more--arrow
                .col-lg-3.col-md-4.col-6
                    a(href='' title='').brand-block
                        .brand-block--image
                            img(src='img/brand/brand5.png' title='')
                        .brand-block--more
                            span.link-more
                                span.link-more--text Товары
                                span.link-more--arrow
                .col-lg-3.col-md-4.col-6
                    a(href='' title='').brand-block
                        .brand-block--image
                            img(src='img/brand/brand6.png' title='')
                        .brand-block--more
                            span.link-more
                                span.link-more--text Товары
                                span.link-more--arrow
                .col-lg-3.col-md-4.col-6
                    a(href='' title='').brand-block
                        .brand-block--image
                            img(src='img/brand/brand5.png' title='')
                        .brand-block--more
                            span.link-more
                                span.link-more--text Товары
                                span.link-more--arrow
                .col-lg-3.col-md-4.col-6
                    a(href='' title='').brand-block
                        .brand-block--image
                            img(src='img/brand/brand6.png' title='')
                        .brand-block--more
                            span.link-more
                                span.link-more--text Товары
                                span.link-more--arrow

                .col-lg-3.col-md-4.col-6
                    a(href='' title='').brand-block
                        .brand-block--image
                            img(src='img/brand/brand1.png' title='')
                        .brand-block--more
                            span.link-more
                                span.link-more--text Товары
                                span.link-more--arrow
                .col-lg-3.col-md-4.col-6
                    a(href='' title='').brand-block
                        .brand-block--image
                            img(src='img/brand/brand2.png' title='')
                        .brand-block--more
                            span.link-more
                                span.link-more--text Товары
                                span.link-more--arrow
                .col-lg-3.col-md-4.col-6
                    a(href='' title='').brand-block
                        .brand-block--image
                            img(src='img/brand/brand3.png' title='')
                        .brand-block--more
                            span.link-more
                                span.link-more--text Товары
                                span.link-more--arrow
                .col-lg-3.col-md-4.col-6
                    a(href='' title='').brand-block
                        .brand-block--image
                            img(src='img/brand/brand4.png' title='')
                        .brand-block--more
                            span.link-more
                                span.link-more--text Товары
                                span.link-more--arrow
                .col-lg-3.col-md-4.col-6
                    a(href='' title='').brand-block
                        .brand-block--image
                            img(src='img/brand/brand5.png' title='')
                        .brand-block--more
                            span.link-more
                                span.link-more--text Товары
                                span.link-more--arrow
                .col-lg-3.col-md-4.col-6
                    a(href='' title='').brand-block
                        .brand-block--image
                            img(src='img/brand/brand6.png' title='')
                        .brand-block--more
                            span.link-more
                                span.link-more--text Товары
                                span.link-more--arrow
                .col-lg-3.col-md-4.col-6
                    a(href='' title='').brand-block
                        .brand-block--image
                            img(src='img/brand/brand5.png' title='')
                        .brand-block--more
                            span.link-more
                                span.link-more--text Товары
                                span.link-more--arrow
                .col-lg-3.col-md-4.col-6
                    a(href='' title='').brand-block
                        .brand-block--image
                            img(src='img/brand/brand6.png' title='')
                        .brand-block--more
                            span.link-more
                                span.link-more--text Товары
                                span.link-more--arrow

    section
        include partials/_pagination

