//- layouts/layout.pug
extend layouts/_layout-noui.pug

block title
    | Каталог

block content

    header.header-breadcrumbs
        .container
            .row
                .col-12
                    ul.breadcrumbs
                        li
                            a(href='' title='') Главная
                        li
                            a(href='' title='') Каталог
                        li
                            a(href='' title='') Плитка

    section.section-catalog
        .container.border-bottom
            .row
                aside.col-lg-3.col-md-4
                    h2 Плитка (5399)
                    .filter-top
                        ul.filter-top--main
                            li
                                a(href='' title='').active Напольная плитка
                            li
                                a(href='' title='') Облицовочная плитка
                            li
                                a(href='' title='') Керамогранит
                            li
                                a(href='' title='') Мозаика
                            li
                                a(href='' title='') Декор
                            li
                                a(href='' title='') Фризы
                            li
                                a(href='' title='') Ступени
                            li
                                a(href='' title='') Смеси и Клеи
                            li.filter-top--main-sale
                                a(href='' title='') Распродажа (1)
                        hr
                    .filter-bottom#filter
                        h3 Фильтры
                        form
                            h6 Цена (грн)


                            input(type='number').input-number#range-slider-input0
                            span.delimiter-input —
                            input(type='number').input-number#range-slider-input1
                            #range-slider



                            #slider-range
                            h6 Цвет
                            ul.filter-colors
                                li
                                    a(href='' title='')
                                li
                                    a(href='' title='').active
                                li
                                    a(href='' title='')
                                li
                                    a(href='' title='')
                                li
                                    a(href='' title='')
                                li
                                    a(href='' title='')
                                li
                                    a(href='' title='')
                                li
                                    a(href='' title='')
                                li
                                    a(href='' title='')
                                li
                                    a(href='' title='')
                                li
                                    a(href='' title='')
                                li
                                    a(href='' title='')
                                li
                                    a(href='' title='')
                                li
                                    a(href='' title='')
                                li
                                    a(href='' title='')
                                li
                                    a(href='' title='')
                                li
                                    a(href='' title='')


                            .filter-accordion
                                .filter-accordion--group.filter-accordion--group-withback
                                    .filter-accordion--group-heading
                                        h6 Размеры
                                    .filter-accordion--group-panel
                                        p Ширина (мм)
                                        input(type='number').input-number.input-number-big
                                        span.delimiter-input —
                                        input(type='number').input-number.input-number-big
                                        p Высота (мм)
                                        input(type='number').input-number.input-number-big
                                        span.delimiter-input —
                                        input(type='number').input-number.input-number-big
                                        button.button Применить

                                .filter-accordion--group
                                    .filter-accordion--group-heading
                                        h6 Бренд
                                    .filter-accordion--group-panel
                                        ul
                                            li
                                                a(href='' title='') Cersanit
                                            li
                                                a(href='' title='') Opoczno
                                            li
                                                a(href='' title='') APE
                                            li
                                                a(href='' title='') Baldocer
                                            li
                                                a(href='' title='') Mega gres

                                .filter-accordion--group
                                    .filter-accordion--group-heading
                                        h6 Коллекция
                                    .filter-accordion--group-panel
                                        ul
                                            li
                                                a(href='' title='') Cersanit
                                            li
                                                a(href='' title='') Opoczno
                                            li
                                                a(href='' title='') APE
                                            li
                                                a(href='' title='') Baldocer
                                            li
                                                a(href='' title='') Mega gres

                                .filter-accordion--group
                                    .filter-accordion--group-heading
                                        h6 Страна
                                    .filter-accordion--group-panel
                                        ul
                                            li
                                                a(href='' title='') Cersanit
                                            li
                                                a(href='' title='') Opoczno
                                            li
                                                a(href='' title='') APE
                                            li
                                                a(href='' title='') Baldocer
                                            li
                                                a(href='' title='') Mega gres

                                .filter-accordion--group
                                    .filter-accordion--group-heading
                                        h6 Тип стиля
                                    .filter-accordion--group-panel
                                        ul
                                            li
                                                a(href='' title='') Cersanit
                                            li
                                                a(href='' title='') Opoczno
                                            li
                                                a(href='' title='') APE
                                            li
                                                a(href='' title='') Baldocer
                                            li
                                                a(href='' title='') Mega gres

                                .filter-accordion--group
                                    .filter-accordion--group-heading
                                        h6 Форма плитки
                                    .filter-accordion--group-panel
                                        ul
                                            li
                                                a(href='' title='') Cersanit
                                            li
                                                a(href='' title='') Opoczno
                                            li
                                                a(href='' title='') APE
                                            li
                                                a(href='' title='') Baldocer
                                            li
                                                a(href='' title='') Mega gres

                                .filter-accordion--group
                                    .filter-accordion--group-heading
                                        h6 Истираемость
                                    .filter-accordion--group-panel
                                        ul
                                            li
                                                a(href='' title='') Cersanit
                                            li
                                                a(href='' title='') Opoczno
                                            li
                                                a(href='' title='') APE
                                            li
                                                a(href='' title='') Baldocer
                                            li
                                                a(href='' title='') Mega gres

                                .filter-accordion--group
                                    .filter-accordion--group-heading
                                        h6 Доп. характеристики
                                    .filter-accordion--group-panel
                                        ul
                                            li
                                                a(href='' title='') Cersanit
                                            li
                                                a(href='' title='') Opoczno
                                            li
                                                a(href='' title='') APE
                                            li
                                                a(href='' title='') Baldocer
                                            li
                                                a(href='' title='') Mega gres
                        .filter-brands
                            hr
                            h3 Популярные бренды

                            ul.filter-brands--ul
                                li
                                    a(href='' title='')
                                        img(src='img/brand/brand1.png' title='')
                                li
                                    a(href='' title='')
                                        img(src='img/brand/brand2.png' title='')
                                li
                                    a(href='' title='')
                                        img(src='img/brand/brand3.png' title='')
                                li
                                    a(href='' title='')
                                        img(src='img/brand/brand4.png' title='')
                                li
                                    a(href='' title='')
                                        img(src='img/brand/brand5.png' title='')

                .col-md-8.col-lg-9.catalog-back
                    .row.justify-content-end

                        .col-xl-6.col-md-8
                            .sort
                                .sort--filter
                                    a(data-fancybox data-src="#filter" href="javascript:;")#filter-trigger
                                        include svgs/filter.svg
                                .sort--heading
                                    | Сортировать по:
                                .sort--form
                                    form.form-sort
                                        .select-container
                                            select.chosen-select
                                                option От дорогих к дешевым1
                                                option От дорогих к дешевым2
                                                option От дорогих к дешевым3


                    .row
                        .col-lg-4.col-6
                            .goods-block
                                a(href='' title='').goods-block--visible
                                    .goods-block--visible-image
                                        img(src='img/goods/goods1.png')
                                    .goods-block--visible-description
                                        h4 Плитка Ape Ceramica Motive Crema
                                .goods-block--panel
                                    a(data-fancybox data-src="#bucket-modal" href="javascript:;").goods-block--panel-price
                                        .goods-block--panel-price--number
                                            p 164 грн
                                        .goods-block--panel-price--hidden
                                            p Купить
                                        .goods-block--panel-price--button
                                            include svgs/bucket-small.svg

                                    .goods-block--panel-hidden
                                        .goods-block--panel-hidden--content
                                            p.available
                                                span.true есть в наличии
                                                span.false нет в наличии
                                            p.goods-block--panel-hidden--content-code
                                                span.line Код товара:
                                                    span  ГЧ-565-279905
                                                span.line Бренд:
                                                    span  Atis
                                                span.line Производитель:
                                                    span  Украина
                                        a(href='' title='').goods-block--panel-hidden--more
                                            span.link-more
                                                span.link-more--text Подробнее
                                                span.link-more--arrow
                        .col-lg-4.col-6
                            .goods-block
                                a(href='' title='').goods-block--visible
                                    .goods-block--visible-image
                                        img(src='img/goods/goods2.png')
                                    .goods-block--visible-description
                                        h4 Плитка Ape Ceramica Motive Crema
                                .goods-block--panel
                                    a(data-fancybox data-src="#bucket-modal" href="javascript:;").goods-block--panel-price
                                        .goods-block--panel-price--number
                                            p 164 грн
                                        .goods-block--panel-price--hidden
                                            p Купить
                                        .goods-block--panel-price--button
                                            include svgs/bucket-small.svg

                                    .goods-block--panel-hidden
                                        .goods-block--panel-hidden--content
                                            p.available
                                                span.true есть в наличии
                                                span.false нет в наличии
                                            p.goods-block--panel-hidden--content-code
                                                span.line Код товара:
                                                    span  ГЧ-565-279905
                                                span.line Бренд:
                                                    span  Atis
                                                span.line Производитель:
                                                    span  Украина
                                        a(href='' title='').goods-block--panel-hidden--more
                                            span.link-more
                                                span.link-more--text Подробнее
                                                span.link-more--arrow
                        .col-lg-4.col-6
                            .goods-block
                                a(href='' title='').goods-block--visible
                                    .goods-block--visible-image
                                        img(src='img/goods/goods3.png')
                                    .goods-block--visible-description
                                        h4 Плитка Ape Ceramica Motive Crema
                                .goods-block--panel
                                    a(data-fancybox data-src="#bucket-modal" href="javascript:;").goods-block--panel-price
                                        .goods-block--panel-price--number
                                            p 164 грн
                                        .goods-block--panel-price--hidden
                                            p Купить
                                        .goods-block--panel-price--button
                                            include svgs/bucket-small.svg

                                    .goods-block--panel-hidden
                                        .goods-block--panel-hidden--content
                                            p.available
                                                span.true есть в наличии
                                                span.false нет в наличии
                                            p.goods-block--panel-hidden--content-code
                                                span.line Код товара:
                                                    span  ГЧ-565-279905
                                                span.line Бренд:
                                                    span  Atis
                                                span.line Производитель:
                                                    span  Украина
                                        a(href='' title='').goods-block--panel-hidden--more
                                            span.link-more
                                                span.link-more--text Подробнее
                                                span.link-more--arrow
                        .col-12
                            a(href='' title='').special
                                .special--header
                                    .special--header-image
                                        img(src='img/special/special1.png' title='')
                                    .special--header-text
                                        h3 Акция
                                .special--footer
                                    .special--footer-left
                                        h4 Распродажа коллекции плитки
                                    .special--footer-right
                                        span.link-more
                                            span.link-more--text Подробнее
                                            span.link-more--arrow

                        .col-lg-4.col-6
                            .goods-block
                                a(href='' title='').goods-block--visible
                                    .goods-block--visible-image
                                        img(src='img/goods/goods1.png')
                                    .goods-block--visible-description
                                        h4 Плитка Ape Ceramica Motive Crema
                                .goods-block--panel
                                    a(href='' title='').goods-block--panel-price
                                        .goods-block--panel-price--number
                                            p 164 грн
                                        .goods-block--panel-price--hidden
                                            p Купить
                                        .goods-block--panel-price--button
                                            include svgs/bucket-small.svg

                                    .goods-block--panel-hidden
                                        .goods-block--panel-hidden--content
                                            p.available
                                                span.true есть в наличии
                                                span.false нет в наличии
                                            p.goods-block--panel-hidden--content-code
                                                span.line Код товара:
                                                    span  ГЧ-565-279905
                                                span.line Бренд:
                                                    span  Atis
                                                span.line Производитель:
                                                    span  Украина
                                        a(href='' title='').goods-block--panel-hidden--more
                                            span.link-more
                                                span.link-more--text Подробнее
                                                span.link-more--arrow
                        .col-lg-4.col-6
                            .goods-block
                                a(href='' title='').goods-block--visible
                                    .goods-block--visible-image
                                        img(src='img/goods/goods2.png')
                                    .goods-block--visible-description
                                        h4 Плитка Ape Ceramica Motive Crema
                                .goods-block--panel
                                    a(href='' title='').goods-block--panel-price
                                        .goods-block--panel-price--number
                                            p 164 грн
                                        .goods-block--panel-price--hidden
                                            p Купить
                                        .goods-block--panel-price--button
                                            include svgs/bucket-small.svg

                                    .goods-block--panel-hidden
                                        .goods-block--panel-hidden--content
                                            p.available
                                                span.true есть в наличии
                                                span.false нет в наличии
                                            p.goods-block--panel-hidden--content-code
                                                span.line Код товара:
                                                    span  ГЧ-565-279905
                                                span.line Бренд:
                                                    span  Atis
                                                span.line Производитель:
                                                    span  Украина
                                        a(href='' title='').goods-block--panel-hidden--more
                                            span.link-more
                                                span.link-more--text Подробнее
                                                span.link-more--arrow
                        .col-lg-4.col-6
                            .goods-block
                                a(href='' title='').goods-block--visible
                                    .goods-block--visible-image
                                        img(src='img/goods/goods3.png')
                                    .goods-block--visible-description
                                        h4 Плитка Ape Ceramica Motive Crema
                                .goods-block--panel
                                    a(href='' title='').goods-block--panel-price
                                        .goods-block--panel-price--number
                                            p 164 грн
                                        .goods-block--panel-price--hidden
                                            p Купить
                                        .goods-block--panel-price--button
                                            include svgs/bucket-small.svg

                                    .goods-block--panel-hidden
                                        .goods-block--panel-hidden--content
                                            p.available
                                                span.true есть в наличии
                                                span.false нет в наличии
                                            p.goods-block--panel-hidden--content-code
                                                span.line Код товара:
                                                    span  ГЧ-565-279905
                                                span.line Бренд:
                                                    span  Atis
                                                span.line Производитель:
                                                    span  Украина
                                        a(href='' title='').goods-block--panel-hidden--more
                                            span.link-more
                                                span.link-more--text Подробнее
                                                span.link-more--arrow





                        .col-lg-4.col-6
                            .goods-block
                                a(href='' title='').goods-block--visible
                                    .goods-block--visible-image
                                        img(src='img/goods/goods4.png')
                                    .goods-block--visible-description
                                        h4 Плитка Ape Ceramica Motive Crema
                                .goods-block--panel
                                    a(href='' title='').goods-block--panel-price
                                        .goods-block--panel-price--number
                                            p 164 грн
                                        .goods-block--panel-price--hidden
                                            p Купить
                                        .goods-block--panel-price--button
                                            include svgs/bucket-small.svg

                                    .goods-block--panel-hidden
                                        .goods-block--panel-hidden--content
                                            p.available
                                                span.true есть в наличии
                                                span.false нет в наличии
                                            p.goods-block--panel-hidden--content-code
                                                span.line Код товара:
                                                    span  ГЧ-565-279905
                                                span.line Бренд:
                                                    span  Atis
                                                span.line Производитель:
                                                    span  Украина
                                        a(href='' title='').goods-block--panel-hidden--more
                                            span.link-more
                                                span.link-more--text Подробнее
                                                span.link-more--arrow
                        .col-lg-4.col-6
                            .goods-block
                                a(href='' title='').goods-block--visible
                                    .goods-block--visible-image
                                        img(src='img/goods/goods1.png')
                                    .goods-block--visible-description
                                        h4 Плитка Ape Ceramica Motive Crema
                                .goods-block--panel
                                    a(href='' title='').goods-block--panel-price
                                        .goods-block--panel-price--number
                                            p 164 грн
                                        .goods-block--panel-price--hidden
                                            p Купить
                                        .goods-block--panel-price--button
                                            include svgs/bucket-small.svg

                                    .goods-block--panel-hidden
                                        .goods-block--panel-hidden--content
                                            p.available
                                                span.true есть в наличии
                                                span.false нет в наличии
                                            p.goods-block--panel-hidden--content-code
                                                span.line Код товара:
                                                    span  ГЧ-565-279905
                                                span.line Бренд:
                                                    span  Atis
                                                span.line Производитель:
                                                    span  Украина
                                        a(href='' title='').goods-block--panel-hidden--more
                                            span.link-more
                                                span.link-more--text Подробнее
                                                span.link-more--arrow
                        .col-lg-4.col-6
                            .goods-block
                                a(href='' title='').goods-block--visible
                                    .goods-block--visible-image
                                        img(src='img/goods/goods1.png')
                                    .goods-block--visible-description
                                        h4 Плитка Ape Ceramica Motive Crema
                                .goods-block--panel
                                    a(href='' title='').goods-block--panel-price
                                        .goods-block--panel-price--number
                                            p 164 грн
                                        .goods-block--panel-price--hidden
                                            p Купить
                                        .goods-block--panel-price--button
                                            include svgs/bucket-small.svg

                                    .goods-block--panel-hidden
                                        .goods-block--panel-hidden--content
                                            p.available
                                                span.true есть в наличии
                                                span.false нет в наличии
                                            p.goods-block--panel-hidden--content-code
                                                span.line Код товара:
                                                    span  ГЧ-565-279905
                                                span.line Бренд:
                                                    span  Atis
                                                span.line Производитель:
                                                    span  Украина
                                        a(href='' title='').goods-block--panel-hidden--more
                                            span.link-more
                                                span.link-more--text Подробнее
                                                span.link-more--arrow
                        .col-lg-4.col-6
                            .goods-block
                                a(href='' title='').goods-block--visible
                                    .goods-block--visible-image
                                        img(src='img/goods/goods1.png')
                                    .goods-block--visible-description
                                        h4 Плитка Ape Ceramica Motive Crema
                                .goods-block--panel
                                    a(href='' title='').goods-block--panel-price
                                        .goods-block--panel-price--number
                                            p 164 грн
                                        .goods-block--panel-price--hidden
                                            p Купить
                                        .goods-block--panel-price--button
                                            include svgs/bucket-small.svg

                                    .goods-block--panel-hidden
                                        .goods-block--panel-hidden--content
                                            p.available
                                                span.true есть в наличии
                                                span.false нет в наличии
                                            p.goods-block--panel-hidden--content-code
                                                span.line Код товара:
                                                    span  ГЧ-565-279905
                                                span.line Бренд:
                                                    span  Atis
                                                span.line Производитель:
                                                    span  Украина
                                        a(href='' title='').goods-block--panel-hidden--more
                                            span.link-more
                                                span.link-more--text Подробнее
                                                span.link-more--arrow
                        .col-lg-4.col-6
                            .goods-block
                                a(href='' title='').goods-block--visible
                                    .goods-block--visible-image
                                        img(src='img/goods/goods1.png')
                                    .goods-block--visible-description
                                        h4 Плитка Ape Ceramica Motive Crema
                                .goods-block--panel
                                    a(href='' title='').goods-block--panel-price
                                        .goods-block--panel-price--number
                                            p 164 грн
                                        .goods-block--panel-price--hidden
                                            p Купить
                                        .goods-block--panel-price--button
                                            include svgs/bucket-small.svg

                                    .goods-block--panel-hidden
                                        .goods-block--panel-hidden--content
                                            p.available
                                                span.true есть в наличии
                                                span.false нет в наличии
                                            p.goods-block--panel-hidden--content-code
                                                span.line Код товара:
                                                    span  ГЧ-565-279905
                                                span.line Бренд:
                                                    span  Atis
                                                span.line Производитель:
                                                    span  Украина
                                        a(href='' title='').goods-block--panel-hidden--more
                                            span.link-more
                                                span.link-more--text Подробнее
                                                span.link-more--arrow
                        .col-lg-4.col-6
                            .goods-block
                                a(href='' title='').goods-block--visible
                                    .goods-block--visible-image
                                        img(src='img/goods/goods1.png')
                                    .goods-block--visible-description
                                        h4 Плитка Ape Ceramica Motive Crema
                                .goods-block--panel
                                    a(href='' title='').goods-block--panel-price
                                        .goods-block--panel-price--number
                                            p 164 грн
                                        .goods-block--panel-price--hidden
                                            p Купить
                                        .goods-block--panel-price--button
                                            include svgs/bucket-small.svg

                                    .goods-block--panel-hidden
                                        .goods-block--panel-hidden--content
                                            p.available
                                                span.true есть в наличии
                                                span.false нет в наличии
                                            p.goods-block--panel-hidden--content-code
                                                span.line Код товара:
                                                    span  ГЧ-565-279905
                                                span.line Бренд:
                                                    span  Atis
                                                span.line Производитель:
                                                    span  Украина
                                        a(href='' title='').goods-block--panel-hidden--more
                                            span.link-more
                                                span.link-more--text Подробнее
                                                span.link-more--arrow
                        .col-lg-4.col-6
                            .goods-block
                                a(href='' title='').goods-block--visible
                                    .goods-block--visible-image
                                        img(src='img/goods/goods1.png')
                                    .goods-block--visible-description
                                        h4 Плитка Ape Ceramica Motive Crema
                                .goods-block--panel
                                    a(href='' title='').goods-block--panel-price
                                        .goods-block--panel-price--number
                                            p 164 грн
                                        .goods-block--panel-price--hidden
                                            p Купить
                                        .goods-block--panel-price--button
                                            include svgs/bucket-small.svg

                                    .goods-block--panel-hidden
                                        .goods-block--panel-hidden--content
                                            p.available
                                                span.true есть в наличии
                                                span.false нет в наличии
                                            p.goods-block--panel-hidden--content-code
                                                span.line Код товара:
                                                    span  ГЧ-565-279905
                                                span.line Бренд:
                                                    span  Atis
                                                span.line Производитель:
                                                    span  Украина
                                        a(href='' title='').goods-block--panel-hidden--more
                                            span.link-more
                                                span.link-more--text Подробнее
                                                span.link-more--arrow
                        .col-lg-4.col-6
                            .goods-block
                                a(href='' title='').goods-block--visible
                                    .goods-block--visible-image
                                        img(src='img/goods/goods1.png')
                                    .goods-block--visible-description
                                        h4 Плитка Ape Ceramica Motive Crema
                                .goods-block--panel
                                    a(href='' title='').goods-block--panel-price
                                        .goods-block--panel-price--number
                                            p 164 грн
                                        .goods-block--panel-price--hidden
                                            p Купить
                                        .goods-block--panel-price--button
                                            include svgs/bucket-small.svg

                                    .goods-block--panel-hidden
                                        .goods-block--panel-hidden--content
                                            p.available
                                                span.true есть в наличии
                                                span.false нет в наличии
                                            p.goods-block--panel-hidden--content-code
                                                span.line Код товара:
                                                    span  ГЧ-565-279905
                                                span.line Бренд:
                                                    span  Atis
                                                span.line Производитель:
                                                    span  Украина
                                        a(href='' title='').goods-block--panel-hidden--more
                                            span.link-more
                                                span.link-more--text Подробнее
                                                span.link-more--arrow
                        .col-lg-4.col-6
                            .goods-block
                                a(href='' title='').goods-block--visible
                                    .goods-block--visible-image
                                        img(src='img/goods/goods1.png')
                                    .goods-block--visible-description
                                        h4 Плитка Ape Ceramica Motive Crema
                                .goods-block--panel
                                    a(href='' title='').goods-block--panel-price
                                        .goods-block--panel-price--number
                                            p 164 грн
                                        .goods-block--panel-price--hidden
                                            p Купить
                                        .goods-block--panel-price--button
                                            include svgs/bucket-small.svg

                                    .goods-block--panel-hidden
                                        .goods-block--panel-hidden--content
                                            p.available
                                                span.true есть в наличии
                                                span.false нет в наличии
                                            p.goods-block--panel-hidden--content-code
                                                span.line Код товара:
                                                    span  ГЧ-565-279905
                                                span.line Бренд:
                                                    span  Atis
                                                span.line Производитель:
                                                    span  Украина
                                        a(href='' title='').goods-block--panel-hidden--more
                                            span.link-more
                                                span.link-more--text Подробнее
                                                span.link-more--arrow
        include partials/_pagination

    include partials/_bucket-modal