//- layouts/layout.pug
extend layouts/_layout.pug

block title
    | Оплата и доставка

block content

    header.header-breadcrumbs.back-gray.header-product
        .container
            .row
                .col-12
                    ul.breadcrumbs
                        li
                            a(href='' title='') Главная
                        li
                            a(href='' title='') Оплата и доставка

    section.section-bucket.section-warranty
        .bucket-header
            .container
                .row.warranty-heading
                    .col-12
                        h1 Оплата и доставка
        .container.warranty-container
            .row
                .col-md-3.col-lg-2
                    .warranty-heading-paragraph
                        img(src='img/icon/warranty3.svg')
                        p.bucket-paragraph
                            | Оплата

                .col-md-1.col-lg-2.hidden-xs.hidden-md
                    hr.bucket-line
                .col-md-9.col-lg-8
                    article
                        p Мы работаем только с проверенными производителями, благодаря этому имеем самый большой выбор качетвенных товаров для ремонта.
            .row
                .col-md-3.col-lg-2
                    .warranty-heading-paragraph
                        img(src='img/icon/warranty4.svg')
                        p.bucket-paragraph
                            | Доставка

                .col-md-1.col-lg-2.hidden-xs.hidden-md
                    hr.bucket-line
                .col-md-9.col-lg-8
                    article.article-accordion
                        #accordion3
                            h3 Курьером по Киеву
                            div
                                p
                                    | Mauris mauris ante, blandit et, ultrices a, suscipit eget, quam. Integer
                                    | ut neque. Vivamus nisi metus, molestie vel, gravida in, condimentum sit
                                    | amet, nunc. Nam a nibh. Donec suscipit eros. Nam mi. Proin viverra leo ut
                                    | odio. Curabitur malesuada. Vestibulum a velit eu ante scelerisque vulputate.
                            h3 Курьером по Киевской области
                            div
                                p
                                    | Sed non urna. Donec et ante. Phasellus eu ligula. Vestibulum sit amet
                                    | purus. Vivamus hendrerit, dolor at aliquet laoreet, mauris turpis porttitor
                                    | velit, faucibus interdum tellus libero ac justo. Vivamus non quam. In
                                    | suscipit faucibus urna.
                            h3 Самовывоз в Киеве - ул.Булаховского 2/1
                            div
                                p
                                    | Nam enim risus, molestie et, porta ac, aliquam ac, risus. Quisque lobortis.
                                    | Phasellus pellentesque purus in massa. Aenean in pede. Phasellus ac libero
                                    | ac tellus pellentesque semper. Sed ac felis. Sed commodo, magna quis
                                    | lacinia ornare, quam ante aliquam nisi, eu iaculis leo purus venenatis dui.
                                ul
                                    li List item one
                                    li List item two
                                    li List item three
                            h3 По Украине до склада перевозчика в Вашем городе
                            div
                                ul
                                    li осуществляется компанией "Новая почта" согласно их тарифов, другие перевозчики оговариваются с менеджером;
                                    li отправка товара осуществляется по предоплате;
                                    li доставка груза до пункта приема перевозчика бесплатна.



    include partials/_questions