//- layouts/layout.pug
extend layouts/_layout.pug

block title
    | Главная страница

block content

    .container(style='background:aqua')
        .row
            .col-12
                p 1
                p 1
                p 1
                p 1
                p 1
                p 1
                p 1
                p 1
                p 1
                p 1
                p 1
                p 1
                p 1
                p 1
                p 1
                p 1
                p 1
                p 1
                p 1
                p 1
                p 1
                p 1
                p 1
                p 1
                p 1
                p 1
                p 1
                p 1
                p 1
                p 1
                p 1
                p 1
                p 1
                p 1