//- layouts/layout.pug
extend layouts/_layout.pug

block title
    | Регистрация

block content

    header.header-breadcrumbs.back-gray.header-product
        .container
            .row
                .col-12
                    ul.breadcrumbs
                        li
                            a(href='./' title='') Главная
                        li
                            a(href='bucket1.html' title='') Регистрация

    section.section-bucket.section-bucket-success
        .bucket-header
            .container
                .row.row-heading.sign-heading
                    .col-md-4.col-lg-3
                        h1
                            img(src='img/icon/signup.svg')
                            | Зарегистрируйтесь
        .container.bucket-container.bucket-success
            .row.justify-content-center
                .col-md-6
                    img(src='img/icon/success.svg')
                    h2 Спасибо, Виталий
                    p Вам на почту будет отправлена ссылка с активацией вашего профиля
                    a(href='signin.html').button.button-blue Хорошо