//- layouts/layout.pug
extend layouts/_layout.pug

block title
    | Вход в кабинет

block content

    header.header-breadcrumbs.back-gray.header-product
        .container
            .row
                .col-12
                    ul.breadcrumbs
                        li
                            a(href='./' title='') Главная
                        li
                            a(href='signup.html' title='') Зарегистрируйтесь

    section.section-sign
        .bucket-header
            .container
                .row.row-heading.sign-heading
                    .col-12.order-1
                        h1
                            img(src='img/icon/signup.svg')
                            | Зарегистрируйтесь
                    .col-md-5.col-xl-4.order-md-2.order-3
                        article.article-signup
                            p Для удобного способа покупки зарегистрируйте личный аккаунт в котором будет храниться история покупок и личные данные.
                            a(href='#' title='').link-accept Регистрируясь, вы автоматически принимаете согласие на обработку личных данных
                    .col-md-7.col-xl-8.sign-container.order-md-3.order-2
                        form.form-signup
                            .form-group.error
                                span.form-group--span Неверный формат ввода
                                input(type='text' placeholder='Введите имя ')
                                label.form-group--icon
                                    include svgs/form/user.svg
                                label.form-group--icon-success
                                    include svgs/form/checked.svg
                            .form-group.success
                                span.form-group--span Неправильно введенный номер телефона
                                input(type='text' placeholder='Номер телефона')
                                label.form-group--icon
                                    include svgs/form/phone.svg
                                label.form-group--icon-success
                                    include svgs/form/checked.svg
                            .form-group
                                span.form-group--span Неправильно введенный e-mail
                                input(type='mail' placeholder='E-mail')
                                label.form-group--icon
                                    include svgs/form/mail.svg
                                label.form-group--icon-success
                                    include svgs/form/checked.svg
                            .form-group
                                span.form-group--span Неправильно введенная область
                                .select-container
                                    select.chosen-select-region(data-placeholder="Choose a country...")
                                        option г. Киев
                                        option Киевская
                                        option Львовская
                                        option Харьковская
                                        option Днепропетровская
                                        option Одесская
                                        option Запорожская
                                        option Донецкая
                                        option Хмельницкая
                                label.form-group--icon
                                    include svgs/form/house.svg
                                label.form-group--icon-success
                                    include svgs/form/checked.svg
                            button(type='submit').button.button-blue.button-big Зарегистрироваться
