//- layouts/layout.pug
extend layouts/_layout.pug

block title
    | Корзина

block content

    header.header-breadcrumbs.back-gray.header-product
        .container
            .row
                .col-12
                    ul.breadcrumbs
                        li
                            a(href='' title='') Главная
                        li
                            a(href='' title='') Гарнтия и возврат

    section.section-bucket
        .bucket-header
            .container
                .row.warranty-heading
                    .col-12
                        h1 Гарнтия и возврат
        .container.warranty-container
            .row
                .col-md-2
                    .warranty-heading-paragraph
                        img(src='img/icon/warranty1.svg')
                        p.bucket-paragraph
                            | Гарантия и сервис

                .col-md-1.col-lg-2.hidden-xs
                    hr.bucket-line
                .col-md-9.col-lg-8
                    article
                        p На все товары, купленные в нашем магазине, распространяется действие Закона Украины "О защите прав потребителей" от 12.05.1991г. №1023-ХII.

                        p Вся продукция, предлагаемая нашим интернет-магазином “SATEN”, имеет официальную гарантию от производителя и подлежит обслуживанию в авторизованных сервисных центрах производителя. Комплектность изделия указана в описании изделия и/или руководстве по его эксплуатации.

                        p Гарантийные обязательства не распространяются на периодическое обслуживание, ремонт и замену частей в связи с их моральным износом.

                        p При получении заказа внимательно осматривайте покупку в присутствии представителя магазина. Если Вам не нравится внешний вид или товар не соответствует параметрам заказа, при возможности не вскрывая упаковки, возвращайте заказ, мы обязательно его заменим.

                        p Кроме того, обращаем Ваше внимание, что согласно п.3 ст.4 Закона Украины «О защите прав потребителя» перед началом эксплуатации покупатель обязан внимательно ознакомиться с инструкцией и правилами эксплуатации купленного изделия.
            .row
                .col-md-2
                    .warranty-heading-paragraph
                        img(src='img/icon/warranty2.svg')
                        p.bucket-paragraph
                            | Возврат товара

                .col-md-1.col-lg-2.hidden-xs
                    hr.bucket-line
                .col-md-9.col-lg-8
                    article
                        p Согласно статьи 9 Закона «О защите прав потребителя», товар надлежащего качества (без дефектов) может быть обменен или возвращен в магазин в течении 14 дней, не считая дня покупки, если соблюдены следующие условия:
                        ul
                            li товар, не был в употреблении и не имеет механических повреждений, следов использования: царапин, сколов, потёртостей, следов вскрытия, нет следов попадания жидкости в изделие или на упаковку, документацию.

                            li товарный вид сохранен - т.е. остались все ярлыки, наклейки и прочие принадлежности товара в неизменном виде, товар полностью укомплектован, запакован как при первой покупке.

                            li присутствуют все документы на товар (инструкции, гарантийный талон, квитанция либо товарный чек, подтверждающие покупку) сохранены все ярлыки и заводская маркировка.

                            li Если товар не работает - обмен или возврат товара производится только при наличии заключения сервисного центра о том, что условия эксплуатации не нарушены, заводском браке, или невозможности гарантийного ремонта.

                            li Возврат товара в полном объёме (указанном в расчётном документе) возможен в течении 14 дней не считая дня покупки.

                        p Для возврата товара покупатель должен написать заявление на возврат товара.

                        p В заявлении изложить причину возврата товара и указать желание заменить товар или вернуть деньги. Кроме того в заявлении обязательно необходимо указать следующую информацию: данные документа, удостоверяещего личность покупателя, который возвращает товар (серия и номер паспорта, дата и место выдачи); данные о товаре (наименование, фабричный (серийный) номер, модель, артикул, дата продажи, стоимость товара по состоянию на момент продажи,); сумму оплаченных за товар денежных средств.

                        p
                            b Обмен или возврат товара производится по адресу г.Киев, ул. Булаховского, 2/1 с понедельника по пятницу с 9:00 до 18:00.

                        p Возврат денег возможен на протяжении 7 дней с дня подачи заявления при условии наличия расчетного документа и документа, удостоверяющего личность покупателя.
