@import "../../utilities/vars"
@import "../../utilities/mixins"

button
  border none
  cursor pointer
  transitions()
  &:focus
    outline none

.button
  display block
  max-width 359px
  width 100%
  text-align center

  background $black
  color $white

  padding-top 9px
  padding-bottom 11px

  margin-bottom 1rem

  letter-spacing: 1px;

  &:hover
    color $black
    background $gray