@import "../../utilities/vars"
@import "../../utilities/mixins"

button
  border none
  cursor pointer
  transitions()
  &:focus
    outline none

.button
  display block
  max-width 263px
  width 100%
  text-align center

  background $black
  color $white

  padding-top 9px
  padding-bottom 11px

  margin-bottom 1rem

  letter-spacing: 1px;

  &:hover
    color $black
    background $gray

  +mobile()
    max-width unset

.button-big
  max-width: 359px;
  margin 0 auto
  font-size: $s22
  font-weight: 500
  line-height: 1.18;
  letter-spacing: 1.2px;
  padding: 14px 0 21px;
  +mobile()
    font-size $s14

.button-blue
  color $white
  background $blue
  font-size: $s18
  font-weight: 500;
  line-height: 1.89;
  letter-spacing: 1.3px
  padding-top: 7px;
  padding-bottom: 9px;
  margin-bottom 0

.button-fast
  font-weight: 500;
  line-height: 2.12;
  letter-spacing: 1.1px;
  background $trans
  border-bottom 2px solid $blue
  color $black
  padding-top 7px
  padding-bottom 8px
  margin-bottom 62px

.button-bucket
  max-width 100%
  background $aqua-back
  color $black
  font-size: $s20
  padding-top: 5px;
  font-weight: 500;
  line-height: 1.7;
  letter-spacing: 1.1px
  +portrait()
    font-size $s16
  &:hover
    background $blue
    color $white
