@import '../../utilities/vars'
@import '../../utilities/mixins'

.img-responsive
  width 100%

.img-contacts
  max-width 329px
  width 100%
  position relative
  z-index -1
  top 32px
  +mobile()
    position absolute
    max-width 178px
    top: -120px;
    right: -35px

.img-about
  position absolute
  top: -236px;
  right: -81px;
  z-index 1
  max-width 945px
  +mobile()
    max-width 305px
    right: -36px;
    top: -253px;
  +portrait()
    max-width: 745px;
    top -179px

.img-about--block
  box-shadow: 0 2px 24px 0 rgba(0, 0, 0, 0.15);
  background $white
  display flex
  align-items center
  justify-content center
  padding 21px
  margin-bottom 55px
  +mobile()
    padding 0
    box-shadow none

  .img-about2
    width 100%
    margin-bottom 0
    +mobile()
      width auto
      height 280px