@import "../../utilities/vars"
@import "../../utilities/mixins"

a
  text-decoration none
  transitions()
  &:hover
    text-decoration none
  &:focus
    text-decoration none
    outline none

.link-logo
  display block
  max-width 165px
  max-height 25px
  padding 2px 0
  &--img
    display inline-block
    max-width 22px
    margin-right 15px
  &--text
    display inline-block
    max-width 128px
    margin-top: -1px

.link-phone-nav
  color $blue
  font-weight 500
  letter-spacing 1.125px
  margin-top: 1px;
  display: inline-block;
  font-size $s22

.link-call
  background $blue
  color $white
  max-width 130px
  width 100%
  height 60px
  padding 13px 0
  text-align center
  position fixed
  right 0
  bottom 100px
  font-size 2rem
  display block
  z-index 100
  span
    display none

.link-brand
  height 100%
  display block
  z-index 20
  position relative
  display flex
  flex-direction column
  justify-content center
  padding-left 35px

  +mobile()
    padding-left 15px
    height 104px

  p
    color $white
    font-size $s20
    font-weight: 500;
    line-height: 1.3;
    letter-spacing: 1.1px;
    margin-bottom $s14

    +mobile()
      font-size $s14
      letter-spacing .8px
      margin-bottom 0

  +mobile()
    svg
      position absolute
      right 0
      top 40%
      max-width 110px

  &:after
    pseudo(block, absolute)
    background $blue
    top 0
    left 0
    bottom 0
    width 50vw
    z-index -1
    transitions()

    +mobile()
      width 100vw
      left -15px

    +landscape()
      left calc((-100vw + 510px) / 2)

  &:hover
    background $black
    &:after
      background $black

.link-more
  position relative
  max-width 219px
  width 77px
  display block
  transitions()
  &--text
    color transparent
    font-size: $s18
    font-weight: 500;
    line-height: 1.44;
    letter-spacing: 1px;
    transitions()
  &--arrow
    background $blue
    width 77px
    height 2px
    display block
    position absolute
    right 0
    top 12px
    &:before, &:after
      pseudo(block, absolute)
      height 2px
      width 10px

      right -2px
      background transparent
      transitions()
    &:before
      top -3px
      transform rotate(45deg)
    &:after
      bottom -3px
      transform rotate(-45deg)
  &:hover
    width 100%
    .link-more--text
      color $blue
    .link-more--arrow
      &:before, &:after
        background $blue

.link-bucket-nav
  font-size: $s26
  font-weight: 500;
  line-height: 1.77;
  letter-spacing: 0.6px
  color $gray-text2
  padding 5px 0
  display inline-block
  +mobile()
    font-size $s18
    display block
  svg
    margin-right 17px
    +mobile()
      height 16px
      margin-right 12px
      width auto
    g
      fill $gray-text2
      transitions()
  &:hover
    color $black
    svg
      g
        fill $black

.link-bucket-nav.active
  color $black
  svg
    g
      fill $black
  +mobile()
    position relative
    &:after
      pseudo(block,absolute)
      top 0
      bottom 0
      background $gray-back
      width 100vw
      z-index -1

.link-bucket-nav.active.left

  +mobile()
    &:after
      right -15px


.link-bucket-nav.active.right
  position relative
  +mobile()
    &:after
      left -15px

.link-modal-close
  font-size: $s22
  font-weight: 500;
  line-height: 1.36;
  letter-spacing: 1px;
  color $aqua-text
  margin: 61px 0 73px;
  display block
  +mobile()
    margin 45px 0 47px
  +portrait()
    font-size $s20
  svg
    margin-right 28px
