@import '../../utilities/vars'
@import '../../utilities/mixins'

.map
  width 100%
  height 450px

#map
  width: 70.3vw;
  height 450px
  position relative
  left: -112px;
  margin-bottom 0
  +tablet()
    left: -95px;
    width: 73.4vw;
  +portrait()
    left: -25px;
    width: 74.7vw;
  +mobile()
    width 100vw
    left -15px
