//  LINKS
@import "partials/links"

//  BUTTONS
@import "partials/buttons"

//  TABLES
@import "partials/tables"

//  LISTS
@import "partials/lists"

//  FORMS
@import "partials/forms"

//  IMAGES
@import "partials/images"

//  AUDIO
@import "partials/audio"

//  VIDEO
@import "partials/video"

//  MAP
@import "partials/map"