+mobile()
  body
    padding-top 50px

  nav
    position fixed
    left 0
    right 0
    top 0
    z-index 200

  .nav-panel
    display none
    padding-top 15px
    padding-bottom 15px
    height 100vh