//  SECTION
//@import 'partials/section'
@import 'partials/volta'
@import 'partials/preview'
@import 'partials/goods'
@import 'partials/advantage'
@import 'partials/discount'
@import 'partials/brand'
@import 'partials/catalog'
@import 'partials/sort'
@import 'partials/special'
@import 'partials/filter'
@import 'partials/product'
@import 'partials/quantity'
@import 'partials/credit'