//  SECTION
@import 'sections/sections.styl'
@import 'sections/rows.styl'
@import 'sections/headings.styl'



@import 'partials/volta'
@import 'partials/preview'
@import 'partials/goods'
@import 'partials/advantage'
@import 'partials/discount'
@import 'partials/brand'
@import 'partials/catalog'
@import 'partials/sort'
@import 'partials/special'
@import 'partials/filter'
@import 'partials/product'
@import 'partials/quantity'
@import 'partials/credit'
@import 'partials/search'
@import 'partials/bucket'
@import 'partials/warranty'
@import 'partials/contact'
@import 'partials/about'
@import 'partials/sign'
@import 'partials/cabinet'
@import 'partials/questions'