//  BLOCKS
@import 'partials/blocks'

//  NAVIGATION
@import 'partials/navigation'

//  HEADER
@import 'partials/header'

//  FOOTER
@import 'partials/footer'

//  BREADCRUMBS
@import 'partials/breadcrumbs'

//  PAGINATION
@import 'partials/pagination'

//  SLIDER
@import 'partials/slider'

//  MODAL
@import 'partials/modal'

//  TABS
@import 'partials/tabs'

//  ACCORDION
@import 'partials/accordion'