$black = #000
$white = #fff
$gray = #a9a9a9
$trans = transparent

//
$gray-text = #B5B5B5
$gray-text2 = #e5e5e5
$gray = #d8d8d8
$gray = #d7d7d7
$gray-line2 = #e7e7e7
$gray-back = #f6f6f6
$gray-ad2 = #c1c5c8
$gray-ad1 = #a1abb2
$gray-line = #ececec
$gray-counter = #e2e2e2

//
$blue = #17b3ed
$blue-ad1 = #009cd6
$blue-ad3 = #4892e8
$blue-ad2 = #4187da
$blue-text = #00a2de

//
$black-footer = #2b3135
$black-copy = #707070
$black-text = #131313
$black-line = #212121
$black-line2 = #243033

$black1 = #353535
//
$aqua-back = #dee8eb
$aqua-text = #c0d3d8
$aqua-text2 = #c3d5da

$aqua-link = #eef4f6
$aqua-link2 = #557279

$aqua-text2 = #738185
$aqua-ad1 = #c2dae3
$aqua-ad2 = #abcad6

//
$green = #61c1a5
$green-text = #78c783

$red = #f96045
$red-text = #E87D7D

$main-font = "AvenirNext"
//$main-font = "Cera"
//$main-font = "Circe"
//$main-font = "Comfortaa"
//$main-font = "DejaVu"
//$main-font = "Futura PT"
//$main-font = "Gotham Pro"
//$main-font = "Helvetica"
//$main-font = "Lato"
//$main-font = "Lobster"
//$main-font = "MuseoSans"
//$main-font = "Open Sans"
//$main-font = "Open Sans Condensed"
//$main-font = "Oswald"
//$main-font = "Pattaya"
//$main-font = "Proxima Nova"
//$main-font = "PT Sans"
//$main-font = "Raleway"
//$main-font = "Roboto"
//$main-font = "Roboto Condensed"

$s10 = 0.625rem
$s11 = 0.688rem
$s12 = 0.750rem
$s13 = 0.813rem
$s14 = 0.875rem
$s15 = 0.938rem
$s16 = 1.000rem
$s17 = 1.063rem
$s18 = 1.125rem
$s19 = 1.188rem
$s20 = 1.250rem
$s21 = 1.313rem
$s22 = 1.375rem
$s23 = 1.438rem
$s24 = 1.500rem
$s25 = 1.563rem
$s26 = 1.625rem
$s27 = 1.688rem
$s28 = 1.750rem
$s29 = 1.813rem
$s30 = 1.875rem
$s31 = 1.938rem
$s32 = 2.000rem
$s40 = 2.500rem
$s48 = 3.000rem
$s56 = 3.500rem
$s64 = 4.000rem
$s72 = 4.500rem
